[2018-08-27 13:29] sam0x17 opened #1 "PPA?"
Would be really, really great to see a PPA for this ;)

[2018-08-27 14:07] mr-ubik opened #2 "AUR Package"
Releasing this as an AUR package should not be too complicated. If I manage to find the time I will do a PR, in the meantime here's the issue.

[2018-08-27 14:28] ryanolsonx opened #3 "Latest Release Missing OSX"
The 1.26.1 release is missing a binary for Mac OS X.

[2018-08-27 14:36] stripedpajamas commented on #3
Good catch. I will kick that build off again and investigate what went wrong.

[2018-08-27 15:05] stripedpajamas commented on #3
It's a race condition that I haven't really figured out a way around. Will noodle on it. The latest release is done now with linux+darwin. Thanks @ryanolsonx

[2018-08-27 15:05] #3 closed

[2018-08-27 16:03] ryanolsonx commented on #3
Thanks!

[2018-08-27 16:04] ryanolsonx opened #4 "Better Icon"
We should come up with a better icon for the FOSS version. The FOSS icon is really ugly.  That would be sugar on top of the cake. 👍

[2018-08-27 18:39] WebReflection commented on #2
I was just looking for that ... `visual-studio-codium-bin` would nail it 😂

[2018-08-27 19:10] WebReflection commented on #2
Just FYI, I've done the following and it went up right away without issues.

Worth mentioning I already had VS Code installed so its dependencies might be necessary too.

[code]

The **Code - OSS** app at that point will be available through the Desktop (GNOME in my case, just window/special key and type code).

It works !!! Awesome stuff

[2018-08-27 21:10] G-Ray opened #5 "Setup RPM/Deb packages repositories"
Maybe consider using a service like https://packagecloud.io which is free for open source projects ?

[2018-08-27 21:40] mathiasblc commented on #1
#5 is way better, it's the proper way to manage package repositories under Debian and derivatives (Ubuntu, Elementray...).

[2018-08-27 22:05] JL2210 opened #6 "ARM packages."
I'm helping with a GPL package manager for Chromebooks, called Chromebrew. It would really help if you could also create i686 and ARM tarballs. Thank you.

[2018-08-28 01:47] Breakthrough commented on #4
Here's my go at a logo which looks fairly decent as an icon (see attached).  Feel free to use it (or not) in any way you would like.  ([Source](https://openclipart.org/detail/173827/leaves-and-branches-2))
![vscodium-logo-32x32](https://user-images.githubusercontent.com/125316/44695772-cbe2c500-aa42-11e8-8875-045658b0772d.png)
![vscodium-logo-64x64](https://user-images.githubusercontent.com/125316

[2018-08-28 06:39] markuman commented on #2
works fine ...but why the hell it installed also opera?

[code]

[2018-08-28 08:42] G-Ray opened #7 "Cooperate with com.visualstudio.code.oss from flathub"
@amtlib-dot-dll is doing a great job packaging the open source version of vscode to flathub.org (https://flathub.org/apps/details/com.visualstudio.code.oss).

Maybe vscodium contributors can merge efforts with him to avoid confusion between various OSS versions.

I propose to:
- Use the same project name. We could rename vscodium to `CodeOSS`, the contrary or pick another neat name.
- Merge doc an

[2018-08-28 08:48] markuman commented on #2
No, I have not before.

[2018-08-28 09:57] WebReflection commented on #2
Then no, I have not the clue (and doesn't happen in here)

[2018-08-28 12:41] sam0x17 commented on #6
vscode on chromebook would be amazing

[2018-08-28 15:23] wmhilton opened #8 "Windows builds"
I don't have the time to make a PR, but for whoever does, I wanted to suggest using [dockcross](https://github.com/dockcross/dockcross). I had excellent results with it in cross-compiling [clib](https://github.com/clibs/clib/blob/master/.travis.yml)

[2018-08-28 19:41] Calinou commented on #8
It should be possible to cross-compile Electron applications without requiring a full C/C++ toolchain (if you have WINE and rcedit installed to change the application icon/metadata).

However, I tried running `gulp vscode-win32-x64` on Fedora 28 and while the build succeeded, I only get a gray window when running it on Windows.

[2018-08-29 11:39] JL2210 commented on #6
@sam0x17 We already have it for i686 and x86_64.

[2018-08-30 02:17] amtlib-dot-dll commented on #7
@G-Ray Thank you

@stripedpajamas Awesome for your project

* "Code - OSS" is the name used in the [upstream](https://github.com/Microsoft/vscode/blob/master/product.json#L2), and I don't know why Microsoft put this name rather than "Visual Studio Code" in the publically available repository. Naming is unimportant
* IMHO, codes here are far less than [my recipe to build the Flatpak package](https:

[2018-08-30 15:37] MatiasConTilde opened #9 "Add brew cask"

[2018-09-04 13:58] stripedpajamas commented on #5
@G-Ray sounds great. Can you outline what steps would need to happen for this to be set up? PRs are welcome if this requires build scripts to change.

[2018-09-04 14:09] stripedpajamas commented on #4
Thank you so much for this contribution, @Breakthrough

@ryanolsonx I also agree the current icon sucks. I'm a little wary of changing too much of original source repo during build because I want to keep trust levels high. But I think updating the icon shouldn't be too crazy, if it can be done in a very straightforward way. PRs are welcome. I'll do it if I can get some free time in the coming days

[2018-09-04 14:11] stripedpajamas commented on #8
@Calinou @wmhilton
I plan on using AppVeyor instead of Travis+Wine, as I have had some success with that in another project. PRs are welcome for an AppVeyor yaml file. I will try to do it in the coming days/weeks if I get some time.

[2018-09-06 23:52] stripedpajamas commented on #9
I think this would be great! I don't know much about making brew casks. Because this is not "official" it would have to go into the unofficial casks, right?

[2018-09-08 17:06] MatiasConTilde commented on #9
I already went ahead and submitted it myself (https://github.com/Homebrew/homebrew-cask/pull/51727), it wasn't that difficult after all :)

According to the [Finding a Home For Your Cask](https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md#finding-a-home-for-your-cask) guide, an Unofficial Cask is

As VSCodium is kind of a fork (so not unmodified), and Microsoft

[2018-09-09 11:41] vitorgalvao commented on #9
HBC maintainer (and writer of that rule) here.

That rule only applies where the name could lead to confusion. For example, if MS didn’t provide a compiled app but you did **and called it Visual Studio Code**, it would fall under that rule. Basically: if by name alone a user could think they’re installing something official when it’s not, the rule comes into play. As the name is different, the iss

[2018-09-09 16:42] MatiasConTilde opened #11 "Rename macOS app to VSCodium.app"
As pointed out in https://github.com/Homebrew/homebrew-cask/pull/51727#discussion_r216155232, the token has to be named the same way as the App file to be included in Homebrew Cask, this means either renaming the app file to VSCodium.app or changing the token to `code-oss`. I personally like the first option more as it includes the name of this project so it isn't that general.

[2018-09-10 08:17] G-Ray commented on #5
I created an account on packagecloud and they enabled it as an OSS account. I will try to set up automatic upload of rpm/deb in the CI and will open a PR ;)

[2018-09-10 18:27] stripedpajamas commented on #11
@MatiasConTilde first of all thank you for spearheading the Brew issue. I'm for renaming the app to VSCodium as well, as that is a very small change pre-build and doesn't affect the end product at all (besides aesthetically). Instead of just renaming the macOS app, I think it would be more straightforward to edit the `product.json` file before building. This would affect the name of the resulting

[2018-09-10 21:44] #11 closed

[2018-09-11 21:24] keith-bennett-gbg opened #13 "Building VSCodium on Ubuntu 16.04 LTS"
Hi,

I'm looking to build VSCodium on Ubuntu 16.04 LTS.

Here's what I've done so far:
[code]
The scripts seem pretty straightforward. I'm going to make an educated guess that I should run _`install_deps.sh`_, then run _`get_repo.sh`_, then run _`SHOULD_BUILD=yes ./build.sh`_

`./install_deps.sh` seemed to work fine. \o/
`./get_repo.sh` says it's cloned and checked out [1.27.1](https://github.com/

[2018-09-11 23:48] stripedpajamas commented on #13
Hi @keith-bennett-gbg

This repo is actually just a bunch of build scripts so that Microsoft's [Visual Studio Code](https://github.com/Microsoft/vscode) gets built automatically from source, and then the binaries get uploaded to Github Releases. If you are wanting to build from source yourself, your best option would be to go to the vscode repo linked above and follow the [build instructions](http

[2018-09-12 15:21] #13 closed, assigned to nobody

[2018-09-13 12:59] stripedpajamas commented on #9
`brew cask install vscodium` works now 🎉

Thanks for your help @MatiasConTilde (and @vitorgalvao). I will update the readme.

[2018-09-13 13:42] #9 closed

[2018-09-13 15:33] caioalonso opened #14 "Needs build instructions"
It would be nice to have some instructions for manually building vscodium on each OS.

[2018-09-13 16:14] stripedpajamas commented on #14
Hi @caioalonso -- VSCodium is just a repo of build scripts to automate the build process of [Microsoft's vscode](https://github.com/Microsoft/vscode). To manually build, head over to Microsoft's repo and following their [build instructions](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source). The finished products (the manual build of Microsoft's vscode repo and t

[2018-09-13 16:14] #14 closed

[2018-09-18 14:09] WIZARDISHUNGRY opened #15 "Could you discuss in README if telemetry features are included or disabled in builds?"

[2018-09-18 14:44] stripedpajamas commented on #15
@WIZARDISHUNGRY can you check out #16 and see if the change helps clarify?

[2018-09-18 14:56] WIZARDISHUNGRY commented on #15
Sure, I guess my question is "what (if any) telemetry/tracking" exists in the unmodified VSCode sources? Does the telemetry tracking only get added as part of the MS build process? [ungoogled-chromium](https://github.com/Eloston/ungoogled-chromium) has to go through a lot of hoops to rip out all the google stuff.

I know there's privacy concerns around the extension store, etc. but a clear stateme

[2018-09-18 15:33] stripedpajamas commented on #15
Understood. As far as I know, no tracking exists explicitly in the unmodified VSCode sources, and telemetry needs to be explicitly enabled with its destination URLs at build time. It would be great to get some more opinions on that, since all of the code is public.

This [comment](https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005) in the vscode repo says this:

I will give anoth

[2018-09-18 19:46] stripedpajamas commented on #15
@WIZARDISHUNGRY updated readme and to be more explicit about us not passing the telemetry flag #16

[2018-09-18 20:05] #15 closed

[2018-09-18 22:17] MazeChaZer commented on #2
FYI, there is already a free software build of VS Code in the official repositories of Arch Linux, so this probably isn't needed (https://www.archlinux.org/packages/community/x86_64/code/)

[2018-09-19 08:17] Calinou commented on #2
@MazeChaZer Does it ship with the extensions gallery enabled?

[2018-09-19 08:26] PhE opened #17 "extension code-settings-sync fails"
The extension [code-settings-sync](https://github.com/shanalikhan/code-settings-sync) fails on vscodium.

The extension loads fine but fails to download settings (cf [issue](https://github.com/shanalikhan/code-settings-sync/issues/650))

here is the error notification :
![image](https://user-images.githubusercontent.com/1107924/45739409-3d053a80-bbf3-11e8-9e87-68768af44d48.png)

and the developer

[2018-09-19 09:07] yanns opened #18 "Mac installation: adding code-oss in the path"
VScode installs `code` in the path, so that it's very convenient to open it from any directory:
[code]
opens VSCode for `in-my-project`

[code]

It'd be awesome if the brew installation would do the same.

[2018-09-19 11:45] stripedpajamas commented on #18
@yanns AFAIK, Visual Studio Code doesn't add `code` to the path by default. You have to go to the command palette and choose `Shell command: Install 'code' command in PATH`. In VSCodium you have the same option

![image](https://user-images.githubusercontent.com/2707340/45751224-bd21a500-bbdf-11e8-8fb7-b645b97aae49.png)

This allows `~/in-my-project $ vscodium .`

If you want `code`, you can make

[2018-09-19 11:47] yanns commented on #18
Thx a lot for the precision!

[2018-09-19 11:47] #18 closed

[2018-09-19 12:47] stripedpajamas commented on #2
@WebReflection this is great news. Can you answer @Calinou's question: after installing, are you able to install extensions from the marketplace?

[2018-09-19 13:15] huksley opened #20 "Make a notice in README that build process involves downloading binary packages and binary blobs"
The build process involves downloading binary blobs and binary packages so it is not a complete build from source

[2018-09-19 13:51] WebReflection commented on #2
@stripedpajamas @Calinou my extension worked just fine

![screenshot from 2018-09-19 15-30-22](https://user-images.githubusercontent.com/85749/45757467-bf0d5780-bc23-11e8-987b-e523e7790850.png)

As you can see, template literals with HTML are highlighted now 🎉

![screenshot from 2018-09-19 15-31-25](https://user-images.githubusercontent.com/85749/45757476-c3397500-bc23-11e8-8738-a2e9e74dec62.png)

[2018-09-19 13:54] stripedpajamas commented on #2
@WebReflection awesome 🎉

[2018-09-19 13:54] #2 closed

[2018-09-19 14:03] jaredreich commented on #4
Not sure if this is too close to the original, but here's one I've used before to replace the original MS ones, which I think are ugly.
[vscodium.icns.zip](https://github.com/VSCodium/vscodium/files/2397358/vscodium.icns.zip)
![vscodium](https://user-images.githubusercontent.com/8563847/45758294-80a37880-bbe2-11e8-8a5b-a760c5a1ef7d.png)

[2018-09-19 14:44] stripedpajamas commented on #17
@PhE support was merged upstream, should I'm thinking it will work in the next version of the extension 🎉

[2018-09-19 14:58] stripedpajamas commented on #20
@huksley to confirm, are you talking about the build step where it downloads node debug and node debug 2? as mentioned in https://github.com/Microsoft/vscode/issues/49159

I think it would be good to note this in the README.

[2018-09-19 15:02] piq9117 opened #21 "Key repeat in macos"
Hi! just in case somebody else is looking for this, like me. I had to do this to enable key repeat in macOs.

[code]

[2018-09-19 15:04] #21 closed

[2018-09-19 16:51] Lomanic commented on #5
I'm personally not a huge fan of adding another third-party dependency (packagecloud), wouldn't it be sensible to host repositories directly on github (using github pages) like [this](https://pmateusz.github.io/linux/2017/06/30/linux-secure-apt-repository.html)?

[2018-09-20 06:55] huksley commented on #20
Yes,
ffmpeg,
libnode
is binary components it downloads.

[2018-09-20 09:39] G-Ray commented on #5
@Lomanic I was not aware this was possible. Sure it would be better to not rely on another third-party dependency

[2018-09-20 16:32] #20 closed

[2018-09-20 20:51] cuechan opened #23 "vscodium adds microsoft apt repository"
When installing vscodium the microsoft apt repository is added to the system. I think this should not be done since most people are using vscodium because they don't want to use vscode from microsoft.

https://github.com/Microsoft/vscode/blob/5db58b3867bfff05e6f4d874753ef960e9a59c4a/resources/linux/debian/postinst.template#L68

This issue is maybe related to #1 and #5

[2018-09-21 15:05] stripedpajamas commented on #23
Good catch @cuechan

It looks like it wouldn't fire that logic if the application name was 'code-oss', but we changed the application name to 'vscodium' pre build. I just opened PR #24 to resolve this. I also checked through the rest of the vscode repo to see if anything else was dependent on the name being (or not being) code-oss. The only other thing I found was [this commented out line](https:/

[2018-09-22 00:26] #23 closed

[2018-09-26 14:54] #17 closed

[2018-09-27 13:30] solie commented on #4
something like code ninja :D
![codium_logo](https://user-images.githubusercontent.com/1745596/46149168-469a3c80-c29c-11e8-8964-3d94a3161ce5.png)
sample:
![screenshot from 2018-09-27 21-26-44](https://user-images.githubusercontent.com/1745596/46149249-78130800-c29c-11e8-9815-e99a9c10a1b1.png)

[2018-09-28 06:54] Lomanic commented on #5
Didn't know about that indeed

https://help.github.com/articles/what-is-github-pages/#usage-limits

100 GB / month, max site size 1 GB… that makes it suboptimal for a repository (vscode/ium packages are huge). I might hack something on [glitch.me](https://glitch.me).

[2018-09-28 11:16] paulcarroty commented on #5
https://sourceforge.net/ hasn't the traffic limits.

[2018-09-29 02:44] TimothyDJewell commented on #8
@stripedpajamas
Hi! I've been putting a little time into setting this up with appveyor.  Today I finally managed to get a build successful (lots of polish/debug to remove), but as I've been developing in the dark, I figure a quick sanity check is in order before I invest more time polishing.
I'm still not completely sure what to do as far as packaging it up for Windows consumption.  I'm thinking f

[2018-09-29 09:32] Calinou commented on #8
@TimothyDJewell The official Visual Studio Code installers are created using [Inno Setup](http://www.jrsoftware.org/isinfo.php). I remember seeing the `.iss` file used by Microsoft to create those somewhere, but I can't find it anymore.

[2018-09-29 15:44] TimothyDJewell commented on #8
Thanks @Calinou! Looks like it's currently at /build/win32/code.iss. I've never done any of this before, but I'll give it a shot. I agree that matching the VS Code options is best.

[2018-09-30 00:05] stripedpajamas commented on #8
@TimothyDJewell thanks for the work so far. Excited to see a Windows build in the near future.

Duplicating whatever MS has on their download page is definitely the route to go. It looks like they do provide a `zip` and an `exe`, the executable being preferable. Since this is all happening in Appveyor, we shouldn't have to worry about the existing build scripts used by Travis at all.  Since you ar

[2018-09-30 13:39] clarsonneur commented on #4
Proposed this code change...

[2018-10-02 06:26] Unlearn opened #26 "VSCodium still accessing MS data gathering URLs"
Running the latest build of VScodium on maxOS High Sierra.

As reported by the Little Snitch firewall. The binary is trying to access telemetry domains:

`dc.services.visualstudio.com`
`dc.trafficmanager.net`
`vortex.data.microsoft.com`

These are MS data gathering URLs. If one of the intentions of this project is to disable Telemetry it would be good to remove the communication to these.

There h

[2018-10-02 12:54] stripedpajamas commented on #26
This is so sad. Thank you @Unlearn for bringing this up. I will begin immediately investigating what we can do about this. Best case scenario we make some small edits to the vscode codebase before build and stop everything. If that ends up not being possible, we'll go forward with what you said about updating the README.

[2018-10-02 13:42] stripedpajamas commented on #26
I am also using Little Snitch and have seen the same things reported by @Unlearn with the exception of `dc.trafficmanager.net` -- I see no traffic to this URL (and I do not find any mention of it in my findings below). @Unlearn can you confirm that the traffic is coming from VSCodium and if so dig in a little? I'm wondering if maybe it's a particular extension you have installed? Or is there somet

[2018-10-02 15:53] stripedpajamas commented on #4
Thank you for the PR @clarsonneur

To anyone involved in this discussion, here are my thoughts:
- The current MS icon sucks
- Three icons have been proposed, so I think it comes down to how many 👍 each gets to decide
- The gorgeous icon proposed by @jaredreich I believe would be considered a copyright violation for us to use as it is nearly identical to the Visual Studio icon ([reference](https://

[2018-10-02 16:13] jaredreich commented on #4
@stripedpajamas I agree about the potential copyright issues. I think the tree icon is aiming to look like "codium" which is a type of algae, but yeah it looks more a standard tree. I'll post another set of icons shortly.

[2018-10-02 16:50] vforge commented on #4
@jaredreich You can hardly recognize the tree in the very small icon (not to mention the leaves and branches are not visible at all). I suggest using a simpler, more geometric icon (or tree/algae representation).

[2018-10-02 18:31] paulcarroty commented on #26
`vscodium  14647   paul  119u  IPv4 556476      0t0  TCP localhost.localdomain:33380->13.107.6.175:https (ESTABLISHED)`

Just after the app start.

[2018-10-02 19:49] stripedpajamas commented on #26
@paulcarroty I believe that is the Marketplace and is expected behavior. Since VSCodium uses Microsoft's Marketplace for extensions, it will call out checking for updates and such.

[code]

[2018-10-02 23:44] jaredreich commented on #4
What do y'all think? (.icns files are in the .zip file below)

<img src="https://user-images.githubusercontent.com/8563847/46382826-356d7900-c66a-11e8-9dba-93439497f3e3.png" width="150" height="150">
<img src="https://user-images.githubusercontent.com/8563847/46382827-37373c80-c66a-11e8-8d91-81706f6e7a3c.png" width="150" height="150">

[codium.zip](https://github.com/VSCodium/vscodium/files/244009

[2018-10-03 02:55] sam0x17 commented on #4
is it bad that I love the ms icon?

[2018-10-03 04:02] jaredreich opened #28 "Remove "VS" from name?"
In regards to avoiding trademark issues, shouldn't the use of "VS" and "Visual Studio" be removed since that's the name of the Microsoft suite of products? Perhaps this should be named "Codium"? Thoughts?

[2018-10-03 10:43] clarsonneur commented on #4
Great. To be honest, I prefer when we have few colors. It is quite monochrome icon. But I'm ok.
I can update the PR with those icons.

[2018-10-03 10:54] Jorgeelalto commented on #4
Well, to be honest being a monochrome icon you can change the gray to any other dark shaded colour and it will work nice. Maybe we can try with green or blue?

[2018-10-03 11:18] clarsonneur commented on #4
Sure. Let's make a try.

[2018-10-03 12:20] Jorgeelalto commented on #4
![export](https://user-images.githubusercontent.com/32217459/46409680-b5511d00-c716-11e8-8657-e3ff12ab7778.png)

Hey, this is a quick test with some colors. Personally I like the light and dark blue, and the light green, because the dark green is too similar to Atom. The orange ones were just a test and I don't really think they fit too well. Note that I call "dark" to the colour filled ones with

[2018-10-03 13:04] clarsonneur commented on #4
I vote for green one! :-)

[2018-10-03 13:10] stripedpajamas commented on #28
Any references to "Visual Studio" should be removed (are there any?), but I like keeping the VS part of VSCodium, because it matches with the idea of Chrome/Chromium. "vscode" is MIT licensed, whereas "Visual Studio Code" is not. So iterating on the MIT licensed "vscode" into "VSCodium" seems kosher to me.

Will leave open for a couple of days to allow further discussion

[2018-10-03 13:14] stripedpajamas commented on #6
@JL2210 there aren't any ARM tarballs for Microsoft's Visual Studio Code, are there? I didn't see any on the website. Our best case scenario right now is offering everything Microsoft offers on their website.

[2018-10-03 13:14] stripedpajamas commented on #1
@sam0x17 should we close this to focus on #5?

[2018-10-03 13:44] jaredreich commented on #4
Let's not use green only because of one person's opinion. For me, I liked grey because it doesn't associate with any brand and implies plain and clean.

A vote would make sense here.

![image](https://user-images.githubusercontent.com/8563847/46414356-c9c1f500-c6d7-11e8-8985-0d0958e80916.png)

👍 - grey
😄 - green
🎉 - blue
❤️ - other

[2018-10-03 14:28] jaredreich commented on #28
Ok sounds like you've already done your research on this. Just wanted to ask!

[2018-10-03 18:07] JL2210 commented on #6
Well, then, could you offer 32-bit x86 packages? Microsoft offers those on their website.

[2018-10-03 18:08] JL2210 commented on #5
https://bintray.com/ has a 10G storage limit for OSS apps.

[2018-10-03 18:10] stripedpajamas commented on #6
@JL2210 Yes! As noted on the README, we are looking for PRs to do just that.

[2018-10-03 18:12] JL2210 commented on #6
OK. Also, a note on the README. 32-bit x86 and x32 are two entirely different things. X32 is a 32-bit pointer ABI for x86_64 and 32-bit x86 is purely 32-bit.

[2018-10-03 18:15] stripedpajamas commented on #6
@JL2210 good catch. How does [this](https://github.com/VSCodium/vscodium/pull/30) look?

[2018-10-03 18:16] JL2210 commented on #6
You might add a note about X32 in there, too. (Link)[https://en.wikipedia.org/wiki/X32_ABI]

[2018-10-03 18:17] stripedpajamas commented on #6
Can you propose what that note would say?

[2018-10-03 18:21] JL2210 commented on #6
I'm not entirely sure. You could say `The 32-bit x86, ARM and X32 architectures are currently not supported.`
I highly doubt that Microsoft will ever support the X32 ABI in VSCode.

[2018-10-03 19:17] JL2210 commented on #6
Good idea. I will probably create a PR for 32-bit x86 by the end of the day. Just a few `for` statements.

[2018-10-03 19:31] JL2210 commented on #6
How's [this](https://github.com/VSCodium/vscodium/pull/31)?

[2018-10-03 20:34] Jorgeelalto commented on #28
For me it is OK. Originally it comes from Visual Studio but since the name of the project is vscodium and it does not come explicitly from Visual Studio Codium, I don't really think there should be any problem. We can even make up our own meaning of VS...

[2018-10-04 02:38] Unlearn commented on #26
Hi @stripedpajamas, thanks for the prompt response.

Looking at the origin of dc.trafficmanager.net, it perhaps came from an extension. Testing further, on my clean install it was not referenced. It was referenced in discussions about the topic, so may be worth keeping an eye out for.

The fixes in place look good. I will be a continuing user of VSCodium so will monitor for any further telemetry t

[2018-10-04 08:28] paulcarroty commented on #26
I recommend to create regex and patch all files with these domains.

[2018-10-04 14:47] stripedpajamas commented on #4
@jaredreich it looks like blue has beat grey by a small margin. Maybe we give it one more day and then move forward?

I am curious, regardless of which one is voted in, are we using the colored-background-white-logo or the white-background-colored-logo? Another vote?

[2018-10-04 15:49] jaredreich commented on #4
New vote:

![image](https://user-images.githubusercontent.com/8563847/46486187-1417a480-c7b2-11e8-84aa-693346cb99e1.png)

Whatever the result, here are all the assets (including sketch files):
[codium_icons.zip](https://github.com/VSCodium/vscodium/files/2447066/codium_icons.zip)

👍 - light blue
🎉 - dark blue

[2018-10-04 16:45] paulcarroty commented on #28
It is completely legal to use the `Visual Studio` subbrand?

It's seems like deleting `Adobe` from `Adobe Photoshop Elements` and use only `Photoshop Elements`. I'm not lawyer, but stealing the part of original brand is dirty.

[2018-10-04 17:03] stripedpajamas commented on #28
We aren't using "Visual Studio" anywhere. We are using the letters "vs". There exists a open source project called "vscode" and there exists a product called "Visual Studio Code".

@paulcarroty in my opinion your example does not line up with what is happening here. Perhaps a more fitting example: Adobe has an open source project called "brackets". If we were to find something awry with the way it

[2018-10-04 22:06] #28 closed

[2018-10-04 23:11] JL2210 commented on #6
Great. One objective of this is done. Any idea how we could create ARM packages?

[2018-10-05 13:43] #26 closed

[2018-10-05 14:06] stripedpajamas commented on #4
@clarsonneur can you update your PR with the voted for icon?

[2018-10-05 22:20] Metaception commented on #6
Assuming I am understanding this issue correctly, this repo is dedicated to this: https://code.headmelted.com/

[2018-10-06 02:39] JL2210 commented on #6
@Metaception: We tried that in Chromebrew. Those are Debian binaries, and they only work on Raspberry Pis and Crouton.
@stripedpajamas: It should just be as easy as adding more lines to the scripts for ARM and adding support to `.travis.yml`.

[2018-10-06 19:40] Jorgeelalto commented on #4
The custom icon set for every file type is a bit more of work but it's certainly feasible. I would not mind working on that to be honest, but maybe we can focus on the linux icon set, the win32 icons for the installer (and the 150x & 70x versions). I think we can easily generate those from the original files by @jaredreich :)

[2018-10-06 20:13] jaredreich commented on #4
You should be able to generate everything you need from the sketch file I uploaded. I think a nice icon is pretty important if you want anyone to use this app.

@stripedpajamas are you not able to do this, being the original contributor?

[2018-10-06 23:14] stripedpajamas commented on #4
I would do it but I don't know how. Anyone with more expertise with icons can help out here. Thank you @jaredreich for all the work so far 🙏

[2018-10-07 02:02] clarsonneur commented on #4
@stripedpajamas Yes, I will update the PR.

[2018-10-07 20:18] ClimberBear opened #33 "Cannot install in Mac"
I'm trying to install with brew, but I get a SHA signature validation error. It's a new / clean Macbook (no previous vscodium installed)

This is the output (I have also tried 'brew update' with no change)

brew cask install vscodium
==> Satisfying dependencies
==> Downloading https://github.com/VSCodium/vscodium/releases/download/1.27.2/VS
==> Downloading from https://github-production-release-as

[2018-10-07 20:32] stripedpajamas commented on #33
Good catch @ClimberBear -- the binaries were recently updated after merging in some un-telemetry measures. I will update the cask upstream.

[2018-10-07 20:32] stripedpajamas commented on #33
https://github.com/Homebrew/homebrew-cask/pull/53067

[2018-10-07 20:35] ClimberBear commented on #33
Really quick! I was editing/reinstalling cask formula, but I will wait for your update

[2018-10-08 00:31] stripedpajamas commented on #33
@ClimberBear homebrew-cask merged upstream. Can you try again?

[2018-10-08 17:09] ClimberBear commented on #33
Perfect now!!!
Thanks!

[2018-10-08 17:09] #33 closed

[2018-10-08 21:54] clarsonneur commented on #4
@jaredreich @stripedpajamas, I reworked on the PR, but I'm in trouble to generate icns files...

The only thing I can do, is to convert png to icns (from linux)
But, doing that way, I got an icns file with a single icon, while vscode has multiple icons for each icns file.

I tried https://iconverticons.com/online/ to convert ico files to icns, or from png.
But, doing that way, I got a HQX file for

[2018-10-08 23:44] jaredreich commented on #4
Maybe try http://www.img2icnsapp.com/ (mac only) or https://cloudconvert.com/png-to-icns

[2018-10-09 07:18] clarsonneur commented on #4
I'm under Linux. So, the first one won't work.

I tried the second one, but I did not used properly. I retried and it looks good! So, thanks, I will use that one!

[2018-10-09 11:58] paulcarroty opened #34 "The Linux Deb/RPM repository"
Hosted on [Gitlab](https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo) only. Scheduler and GPG sign works. Please test it and notify me about any issue.

I did it 'cause nobody are interested in #5 .

[2018-10-09 12:13] paulcarroty commented on #4
This issue was created 43 days ago. Maybe it's time to speed up slowly? :smile:

@clarsonneur Photoshop 2018 works great under wine.

[2018-10-09 13:07] stripedpajamas commented on #34
@paulcarroty thank you for taking the initiative here. It looks great to me.

After some Linux users try it out we can update the README to point to this resource.

@sam0x17 @mathiasblc @G-Ray @Lomanic @JL2210 I am in favor of closing #1 and #5 if this works.

[2018-10-09 16:05] clarsonneur commented on #4
@paulcarroty Thanks for the suggestion. I have wine for a while, but I avoid it... usually it is not well working for different unknown reason. So, I prefer to avoid.

Anyway, the last website is the right one to fix the latest issue for mac. And then it will be done. normally today.

[2018-10-09 16:32] mathiasblc commented on #34
This is great! 👍🏻

[2018-10-09 22:15] clarsonneur commented on #4
The PR is ready

I have a doubt about the icns file.
I was able to create each for same image format (256/512) in single files from several png files, but it looks like transparency has been lost.

I used the `png2icns` which finally do a better job than https://cloudconvert.com/png-to-icns
I reworked all vscode icons.

I thought to expose the code to generate them from a script. But I don't know

[2018-10-10 02:29] 435vic opened #36 "codium as app executable name instead of vscodium?"
The titles, names, and executables in the official and OSS versions all are variations of `code` and `code-oss` respectively. Maybe we should keep the pattern by making the executable `codium`? Also I think the  Visual Studio name is copyrighted by Microsoft, not sure, but we might as well be careful. Something else I like about the original `code` executable is that it's very quick to type, enabl

[2018-10-10 11:06] JL2210 commented on #36
See number #28.

[2018-10-10 12:05] 435vic commented on #36
I see... Well, that does make sense. Thank you!

[2018-10-10 14:56] stripedpajamas opened #37 "Don't hard code the owner name and repo name in the Travis file"
Currently we check the current releases by asking Github's API about VSCodium/vscodium's releases. This makes PRs more dangerous: a change to anything in the build matrix won't necessary be run through Travis because the binaries already exist.

Suggest using the `$TRAVIS_REPO_SLUG` env var which resolves to `owner_name/repo_name` in [this API call](https://github.com/VSCodium/vscodium/blob/master

[2018-10-10 19:21] JL2210 commented on #6
One more step!

[2018-10-11 11:09] JL2210 commented on #34
You might want to store the packages themselves on [bintray](https://bintray.com). They have a 10GB storage limit for OSS applications and a 1TB download limit. They natively support debs and rpms. Along with that, they also have a CDN. Chromebrew uses it, and I can say I haven't had a problem with it yet.

[2018-10-11 11:35] paulcarroty commented on #34
1TB limit = ~16.7k downloads. This is literally nothing for such project.

Anyway, we can configure bintray as independent mirror. But better move this idea to another issue.

[2018-10-11 13:02] #4 closed

[2018-10-11 13:03] stripedpajamas commented on #4
Thanks for everyone's help and discussion to get this wrapped up! 🙏

I will rebuild release 1.28.0 and update homebrew so new downloads get the new icon.

[2018-10-11 13:54] stripedpajamas commented on #34
@paulcarroty can you look over the README change I just proposed in #38 ? If it looks alright I think we can wrap this up.

[2018-10-11 15:36] paulcarroty commented on #34
@stripedpajamas looks fine.

[2018-10-11 15:39] #1 closed

[2018-10-11 15:39] #5 closed

[2018-10-11 15:39] #34 closed

[2018-10-11 15:57] #37 closed

[2018-10-11 18:36] 435vic opened #40 "ARM64 packages don't work"
I just installed the deb package, but the window is empty. I'm pretty sure that it's an issue with cross compiling upstream, since I ran another repository without the VSCodium changes and the issue persisted. For now, I think we should say that ARM64 packages cannot be built correctly yet.
I hope that the issue is fixed soon, but for now I guess we still won't be able to support ARM.
I tried to f

[2018-10-11 18:47] stripedpajamas commented on #40
Sad :( I've removed the binaries and commented out the arm64 part of the build matrix until we can figure it out. I'll close this issue and we'll continue to work on ARM as a part of #6

[2018-10-11 18:47] #40 closed

[2018-10-11 23:47] stripedpajamas commented on #6
@435vic I think there is a lot of set up that has to be done in the build environment to produce good arm binaries. Take a look at https://github.com/headmelted/codebuilds and https://github.com/headmelted/cobbler (which produces the files for https://code.headmelted.com).

I will take a stab at setting up something similar in this repo but I have no way of testing the binaries. If you can do that

[2018-10-12 05:03] ganapativs opened #41 "Auto Updating Support"
How does auto updating works here? how are we pushing the new update?

also anyone has idea about how to configure custom `update.channel`?

[2018-10-12 12:31] JL2210 commented on #40
I've heard that ARM64 has some issues with regular VS C0de, too. I'm fairly sure that it's not an issue with VSCodium. Also, this isn't cross compiling.

[2018-10-12 12:33] JL2210 commented on #6
Just a quick comment, could you switch the Travis builds to Debian? I know that Ubuntu messes with their GTK libs.

[2018-10-12 12:33] JL2210 commented on #6
Also, I'd be free to test them. I'd better fire up another Gentoo chroot on my desktop.

[2018-10-12 12:39] JL2210 commented on #41
Use the deb repository. See the README.

[2018-10-12 12:40] JL2210 opened #42 "Forgetting to set npm_config_arch on arm64"
I might have an idea to why arm64 doesn't build properly. When you build on arm64, try setting `npm_config_arch` to `arm64`.

[2018-10-12 12:42] stripedpajamas commented on #41
The deb repository might be a good idea for Linux users. For Mac users we will have to figure something else out. It's not the best experience having to check the repo for updates or ask brew for updates. This could use some discussion.

[2018-10-12 12:43] JL2210 commented on #42
The `Failed to load shared library ... : No such file or directory` errors suggest that we are using binaries for different platforms, rather than ARM64 ones. See #40.

[2018-10-12 12:44] stripedpajamas commented on #42
@JL2210 can you keep arm comments/ideas/suggestions in #6 ?

[2018-10-12 13:10] stripedpajamas commented on #6
@435vic @JL2210 I just rebuilt arm64 after setting the npm_config_arch (as per the suggestion in #42) -- can either of you see if these binaries work?

[tar](https://github.com/stripedpajamas/vscodium/releases/download/1.28.1/VSCode-linux-arm64-1.28.1.tar.gz)
[deb](https://github.com/stripedpajamas/vscodium/releases/download/1.28.1/vscodium_1.28.1-1539349591_arm64.deb)

[2018-10-12 13:11] JL2210 commented on #42
Not really. This is more of a solution for #40.

[2018-10-12 13:47] stripedpajamas commented on #42
#40 was closed yesterday to keep arm comments/ideas/suggestions in #6 (see my comment in that issue).

[2018-10-12 13:47] #42 closed

[2018-10-12 15:35] 435vic commented on #6
Tar isn't working:
![image](https://user-images.githubusercontent.com/13788817/46878916-3d67ae80-ce0a-11e8-866d-0f5579cef64e.png)
![image](https://user-images.githubusercontent.com/13788817/46878620-620f5680-ce09-11e8-98da-fa77b17f3bf6.png)
Neither is the deb:
![image](https://user-images.githubusercontent.com/13788817/46878963-5ff9c780-ce0a-11e8-86bf-f21f2af28450.png)

I think I'm just gonna buil

[2018-10-12 17:19] JL2210 commented on #6
@435vic, could you please try this on a regular AArch64 computer, not a Chromebook? I imagine it would work if you tried it there.

[2018-10-12 17:20] JL2210 commented on #6
I noticed `penguin` is your hostname. I got it from there.

[2018-10-12 17:33] stripedpajamas commented on #6
What is in zeit/hyper#26 ? All I see are comments about fonts.

[2018-10-12 18:39] rm-- commented on #4
Looks very cool! Thanks to all of you.

[2018-10-12 19:28] JL2210 commented on #6
See edited comment. Sorry :/

[2018-10-12 19:32] JL2210 commented on #41
Brew can auto-update. In Debian, auto-updates do not happen automatically. You still have to type `sudo apt-get update && sudo apt-get upgrade`.

[2018-10-12 19:38] JL2210 commented on #6
@435vic Can you send me the output of just `./vscodium` when in that directory? Usually, the executable itself gives us more hints than the wrapper script.

[2018-10-12 20:08] 435vic commented on #6
Sure.
[code]

[2018-10-14 02:06] sam0x17 opened #44 "automatic telemetry removal"
Couldn't we just add a post-install script on every platform that automatically fixes the settings file? imo the whole purpose of this repo is telemetry is disabled. Even better, couldn't we just remove the code responsible for _all_ aspects of telemetry? (I am sure there is some compelling reason for us not being able to do the latter, though)

[2018-10-14 02:30] sam0x17 commented on #34
@paulcarroty I am getting the same issue with GPG keys that they guy who posted the issue on your repo is complaining about. It is saying the repo is unsigned even after installing your gpg key and refreshing keys etc.

[code]

[2018-10-14 08:21] paulcarroty opened #45 "GPG sign for Linux packages"
The latest (minimum) Linux packages aren't signed - https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/issues/1

I can sign them with my repository key, but then verifications by checksums will be broken. So, I'd suggest sign them after build like MS [did](https://code.visualstudio.com/docs/setup/linux).

[2018-10-14 11:02] stripedpajamas commented on #45
Is the recommendation that we sign the packages with a vscodium gpg key and then you include the same key in your repo?

[2018-10-14 11:14] stripedpajamas commented on #44
Good idea @sam0x17. I'm not inclined to update anyone's settings.json file, as that is outside the scope of the project, but your comment made me realize that it would be very easy to update the defaults that the settings.json file is built around pre-build. I found the two main telemetry settings here:

- crash reporter: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/cr

[2018-10-14 12:14] paulcarroty commented on #45
Yeah. Repository metadata also should be sign with the same key.

[2018-10-15 11:01] stripedpajamas commented on #41
I think we can get something like that working. I need to investigate out it currently works in vscode

[2018-10-15 11:43] ganapativs commented on #41
Yes, there must be a proper interface for that feature, we need to check how to configure the same. I'll see if I can figure out something.

[2018-10-15 14:38] tynx commented on #41
In case anyone want's to do it with a simple bash-"script", that you can trigger as often as you like...
[code]
Note: This Only supports dpkg/apt and amd64... :-)

[2018-10-15 15:04] tynx commented on #41
Out of personal interesst I looked into the source of the updater-mechanism...

https://github.com/Microsoft/vscode/blob/bb23217d1ef48ff6549b214162b36e8b8306e943/build/gulpfile.vscode.linux.js#L84

It seems that the update mechanisms hits this URL. See the following folder for the concrete implementation of the updater-service. the abstract implementation contains the basic URL-schemantics for all

[2018-10-15 15:33] ganapativs commented on #41
Found some more resources when opened `Applications ▸ Visual Studio Code ▸ Show package contents(Right click) ▸ Contents⁩ ▸ ⁨Resources⁩ ▸ ⁨app⁩ ▸ product.json` on OSX VSCode.

The `product.json` file has all the information about the build.
Update points to https://vscode-update.azurewebsites.net and these are the update urls.

https://vscode-update.azurewebsites.net/api/update/darwin/stable/VERSI

[2018-10-15 15:38] tynx commented on #41
I would guess so as well. I know that you can host static pages on github (??repo??.github.io or something...)

Maye on each build push a file with the necessary information into the repo-root and host it directly from the github itself?

[2018-10-15 17:30] paulcarroty commented on #41
We can just host the one json directly in vscodium repo.

[2018-10-15 18:12] stripedpajamas commented on #41
@ganapativs @tynx thank you both for digging in. Yes-- this is perfect, we can easily host a JSON file that has the latest version with its hash and download link in the repo and update it at build time. When I have a few minutes I'll dig in, but PRs are welcome in the meantime. Again thank you all for digging in, as this is a piece of the vscodium puzzle that was really in need of solving 👍

[2018-10-15 18:21] paulcarroty commented on #45
@stripedpajamas you should generate the default key pair. Most tricky moment here - how to sign Gitlab repos with your key.

Alternative way - sign all packages with my repo keys. It breaks checksums verifications but packages can be compares via something like [pkgdiff](https://github.com/lvc/pkgdiff).

[2018-10-18 04:32] sam0x17 commented on #44
I definitely like the idea of defaulting to false

[2018-10-18 13:57] stripedpajamas commented on #44
@sam0x17 any thoughts on whether or not we should also disable by default auto extension update checks and natural language processing on search terms? For now I think @joelwass is focusing on just disabling basic telemetry and crash reporting telemetry in #46.

[2018-10-18 17:43] sam0x17 commented on #44
@stripedpajamas I think just the basic telemetry and crash reporting telemetry makes sense

[2018-10-18 20:17] paulcarroty commented on #45
Fixed by https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/commit/f53761c927b3e38f52a0b625748c18ebc89d223e

[2018-10-18 20:17] #45 closed

[2018-10-19 13:28] JL2210 commented on #6
@435vic, could you try `dbus-launch ./vscodium`?

[2018-10-19 14:37] 435vic commented on #6
Still not working.
![image](https://user-images.githubusercontent.com/13788817/47224827-1ec16480-d382-11e8-9d20-18a5020ec85e.png)
[code]

[2018-10-19 15:38] #44 closed

[2018-10-23 11:16] JL2210 commented on #6
@stripedpajamas Could you update the `yarn` version used? It could be an issue with that. Just install `yarn` from backports.

[2018-10-23 16:15] sam0x17 commented on #6
Shouldn't the package be using its own self-contained version of node/yarn/etc?

[2018-10-23 21:15] stripedpajamas commented on #6
Will work on getting that updated @JL2210

[2018-10-23 22:23] lavaman opened #50 "Documentation concerning macOS defaults"
I just had to search through all the defaults on my mac to find the proper name for defaults for this app. I was trying to turn of press & hold so the vim plugin was actually useable.

Not really sure where this info should live, but it would be nice to let folks know the right name for that, since all the answers online assume you're using the MS version. In any case, here's what I had to do make

[2018-10-24 01:39] 435vic commented on #6
By the way, I set up a [test repository](https://github.com/435vic/vscode-arm64) that updates yarn to 1.10.1 and builds vanilla vscode and that still didn't work, so I refiled [the issue](https://github.com/Microsoft/vscode/issues/61623) for this test repository instead of vscodium on the official microsoft repository. I hope it will soon be looked into. If you want to look at the Travis CI page,

[2018-10-24 13:46] chris-vest opened #51 "CLI tool for vscodium"
Are there plans to include a CLI tool for vscodium?

[2018-10-24 13:50] stripedpajamas commented on #51
@chris-vest what would the CLI do?

[2018-10-24 13:51] stripedpajamas commented on #50
I think that would be very helpful. I think moving some of the technical details from the README into a separate doc and including how to change the defaults for vscodium in there would be great. If I get some spare time in the next couple of days I'll put in a PR, but anyone is welcome to.

[2018-10-24 14:36] stripedpajamas commented on #50
Had a couple of minutes, how does #52 look @lavaman ?

[2018-10-24 19:04] lavaman commented on #50
Looks good to me. Wasn't sure if there was some other docs somewhere i wasn't aware of, otherwise I would've submitted a pr myself :)

Thanks

[2018-10-24 19:05] #50 closed

[2018-10-24 19:14] lavaman commented on #51
I was about to make an issue about this same thing. I spend quite a bit of my time in a terminal and it would be nice to be able to open files in vscodium from the cli, like what MacVim does in it's brew cask by adding the mvim cli command.

[2018-10-24 19:16] stripedpajamas commented on #51
That is already supported... in Visual Studio Code there is an option to add `code` to the PATH so that you can type `code [filename]` or `code [dir]` to open it up. VSCodium has the same thing. See https://github.com/VSCodium/vscodium/issues/18 and let me know if that's kind of what you're thinking of.

[2018-10-24 19:42] lavaman commented on #51
Yeah, that's what I was thinking. Another documentation thing then :)

[2018-10-24 19:46] stripedpajamas commented on #51
@lavaman 👍

@chris-vest if this is what you were talking about as well I'll merge #53 and close this up

[2018-10-25 07:57] chris-vest commented on #51
@stripedpajamas Exactly what I was after, thank you!

[2018-10-25 08:43] G-Ray commented on #8
It seems Windows ci environment is now available on travis: https://docs.travis-ci.com/user/reference/windows/

[2018-10-25 09:36] #51 closed

[2018-10-25 09:39] stripedpajamas commented on #8
@G-Ray yes! I was testing it out this past weekend. Unfortunately there is currently a known issue that the build won't work at all if there are secret environment variables (https://travis-ci.community/t/current-known-issues-please-read-this-before-posting-a-new-topic/264). We have a GITHUB_TOKEN environment variable, so it isn't working yet. Once they fix that, I'm excited to see if it's easier

[2018-10-26 14:16] stripedpajamas commented on #41
Circling back to this today... I think the next steps are:

- Figure out what populates the information in this file: https://vscode-update.azurewebsites.net/api/update/darwin/stable/VERSION
  - specifically `version` , `hash`, and `sha256hash`
- Generate that info (as organically as possible) post-build in VSCodium
- Setup committing the updated VERSION file post-build to the repo (pending #47 be

[2018-10-27 18:13] JL2210 commented on #6
@435vic @stripedpajamas Could it be a combination of #42 and an older node version? Also, when in the unpacked VSCodium directory, please run `./bin/vscodium`

[2018-10-27 18:15] JL2210 commented on #6
https://github.com/Microsoft/node-spdlog and https://github.com/Microsoft/node-native-keymap are possible dependencies.

[2018-10-29 22:25] Jackymancs4 opened #54 "VSCodium is more than twice the size of VSCode on MacOS"
Hello,
I have been following vscodium for a couple of months now, and decided to give it a try, but…
<img width="439" alt="schermata 2018-10-29 alle 23 14 48" src="https://user-images.githubusercontent.com/6209647/47683795-f7b03180-dbd0-11e8-81f9-d3dabaca6c00.png">
In the screen both of them were just downloaded from [vscodium](https://github.com/VSCodium/vscodium/releases/download/1.28.2/VSCode-d

[2018-10-30 12:53] stripedpajamas commented on #54
Wow good find @Jackymancs4. I wonder what we're doing wrong in the build process. I will investigate.

[2018-10-30 12:58] stripedpajamas commented on #6
@JL2210 I believe we're using the latest supported node version (supported by vscode). Their docs say `>= 8.12.0, < 9.0.0`.

In re: yarn, since @435vic tried building with 1.10.1 and got the same thing, I want to hear more from Microsoft.

I'm also a little confused... are we not able to somehow replicate how https://code.headmelted.com is getting these builds going?

[2018-10-30 14:29] stripedpajamas commented on #54
I used BeyondCompare to see the differences between the two packages. It looks like (as you pointed out @Jackymancs4) MS is somehow using links, whereas our build is producing duplicate folders (electron A vs electron current)

VSCode on left, VSCodium on right

![image](https://user-images.githubusercontent.com/2707340/47725199-81421c80-dc2e-11e8-8faa-1bb2c23b80fb.png)

[2018-10-30 14:44] Jackymancs4 commented on #54
Curiously, linux 32x & 64x builds of VSCode and VSCodium are comparable both in size and content.
So this is a problem only for darwin build target.

[2018-10-30 14:51] stripedpajamas commented on #54
Alright I've figured it out. In Microsoft's build process, when they zip up the Darwin package ([here](https://github.com/Microsoft/vscode/blob/master/build/tfs/darwin/product-build-darwin.yml#L38)), they pass `-y` to the zip command.

From the zip man page:

-----
-y
--symlinks
For UNIX and VMS (V8.3 and later), store symbolic links as such in the zip archive, instead of compressing and storing t

[2018-10-30 19:41] JL2210 commented on #54
VSCode has external dependencies. VSCodium doesn't.

[2018-10-30 19:44] stripedpajamas commented on #54
@JL2210 what do you mean? This issue has already been resolved.

[2018-10-30 19:52] JL2210 commented on #6
@stripedpajamas @435vic Sorry. I meant a newer Yarn version. https://code.headmelted.com/ only works in Crouton, but we want it to work in Crostini and in devmode Chrome OS, which isn't the same because they have different X displays than Crouton. Microsoft doesn't even build binaries for ARM right now. Why would they have a want or a need to support us?

[2018-10-30 19:56] JL2210 commented on #54
Sorry. I just realized that. Maybe we could strip our binaries and remove unneeded stuff from the zips? Anyway, VSCode (no offense) is a lot more well done than VSCodium. They probably have all this stuff automated, for all I know.

[2018-10-30 19:59] stripedpajamas commented on #54
@JL2210 you can look at their build process [here](https://github.com/Microsoft/vscode/blob/master/build/tfs/darwin/product-build-darwin.yml). They don't strip anything out, but they do add things (mixins). As of #55, our package size is _smaller_ than VSCode's.

[2018-11-04 20:48] JL2210 commented on #6
Can you give a link?

[2018-11-04 20:57] JL2210 commented on #6
@435vic I found the exact problem in VSCodium, look at this code:
[code]

[2018-11-13 15:08] #54 closed

[2018-11-14 20:34] stripedpajamas commented on #41
Another step is that updates apparently won't work unless the app is signed. I'm not sure how to sign the app during Travis build so that is something I've got to figure out.

[2018-11-20 17:00] pavanagrawal123 commented on #8
Hey I was interested in fixing the issue for Windows builds, but I see that AppVeyor is paid and Travis still has the secrets issue... Can we try using Azure DevOps? It's free for 10 parallel builds... @stripedpajamas  @TimothyDJewell

[2018-11-20 17:11] Calinou commented on #8
@pavanagrawal123 AppVeyor is free for public repositories, lots of open source projects rely on it.

[2018-11-20 17:15] stripedpajamas commented on #8
@pavanagrawal123 any help is welcome and any platform is fine if it produces working Windows builds :)

[2018-11-21 02:40] pavanagrawal123 commented on #8
@stripedpajamas and @Calinou I have successfully got Azure Pipelines working!

How do y'all suggest I publish the artifact onto GH?

[2018-11-21 03:31] stripedpajamas commented on #8
I'm not sure how releases work in Azure. Most likely you will need a personal access token as an environment variable like we have in the Travis build. If you want you can go ahead and open a PR and then we can continue improving it together.

[2018-11-21 03:33] stripedpajamas commented on #8
(also THANKS for your help so far, I'm very excited for Windows builds) @pavanagrawal123

[2018-11-21 04:02] pavanagrawal123 commented on #8
Alright, that's what I was thinking as well. I'll clean up a few things and submit the PR in a couple of hours!

[2018-11-21 05:35] pavanagrawal123 commented on #8
Opened #58. Still doesn't push to GH releases, but that shouldn't be too hard to solve.

[2018-11-22 11:36] FirstWorldSlardar opened #59 "Need of a place to discuss about VSCodium"
Hi guys!
Love the initiative, but struggle to find a place to discuss about it without opening issues(like a gitter channel or reddit sub, something like that). It would be nice to have one. Like the name and icon by the way.
Thank you  !

[2018-11-22 14:07] stripedpajamas commented on #59
Just setup gitter here: https://gitter.im/VSCodium/Lobby. I'll put a badge on the readme 👍

[2018-11-22 14:08] #59 closed

[2018-11-25 17:57] gerroon commented on #8
Any plans tfor release?

[2018-11-25 19:18] pavanagrawal123 commented on #8
It's open in a PR #58. If you want releases now you can check pavanagrawal123/vscodium

[2018-11-25 22:04] gerroon commented on #8
@pavanagrawal123  Hey thanks, I will take a look at them.

[2018-11-27 16:19] JL2210 commented on #8
Is this fixed by #58?

[2018-11-27 16:49] stripedpajamas commented on #8
@JL2210 waiting to see if the windows builds succeed and upload.

[2018-11-27 17:53] gerroon commented on #8
@pavanagrawal123 build worked for me

[2018-11-28 06:02] em92 opened #60 "event-stream issue"
Details: https://github.com/dominictarr/event-stream/issues/116

VSCode uses event-stream. Yesterday https://github.com/Microsoft/vscode/commit/981d0ab0d510e9bd4325124a1674cadab6c36daa it was locked to secure version of package (3.3.4).

First version of new maintainer of event-stream appeared on Sep 5, 2018: https://github.com/dominictarr/event-stream/commit/918d4a3398166d6f4264f7fc4ec2cc43f731ab

[2018-11-29 06:01] em92 commented on #60
False alert. As described here: https://schneid.io/blog/event-stream-vulnerability-explained/ event-stream backdoor attacks only if parent package is copay-dash, which is not used in VSCode.

[2018-11-29 06:01] #60 closed

[2018-11-29 11:45] drasbeck commented on #36
@435vic you could always just create a symlink to `vscodium`, called `codium`.

[2018-12-02 22:38] #8 closed

[2018-12-03 16:58] pavanagrawal123 opened #63 "Windows build doesn't show app icon in taskbar"
![image](https://user-images.githubusercontent.com/17802917/49388749-4b3eff00-f6ea-11e8-9f9e-1d585f1fe7ba.png)

[2018-12-06 18:41] pavanagrawal123 commented on #63
I think it might've just been a remnant issue from a broken build, it works now :)

[2018-12-06 18:41] #63 closed

[2018-12-11 16:57] fafa2017 opened #65 "flatpak package"
Is it possible to have vscodium as flatpak package in the near future?
thank,

`

[2018-12-11 19:20] stripedpajamas commented on #65
Hi @fafa2017 👋

There aren't any current plans to support flatpak in this project, but if anyone has time/knowledge to implement it, the PR would be very welcome. I know it's tricky since it means building `vscode` without internet and that gets complicated.

You might already know about this -- there exists a flatpak for Visual Studio Code - OSS (which is the same as VSCodium except that in this

[2018-12-11 19:54] fafa2017 commented on #65
Hi @stripedpajamas
I would like to try a vscodium ,and I downloaded the "VSCode-linux-x64-1.29.1.tar.gz" and when I run it on from a terminal I get this message :

[2018-12-11 20:14] stripedpajamas commented on #65
Hmmm.

Can you let me know your OS and arch?

Also would you be able to try the Microsoft version https://go.microsoft.com/fwlink/?LinkID=620884 and see if you have the same issue? I'm wanting to see if this is a problem with how we build or if this is something bigger.

Thanks @fafa2017

[2018-12-11 20:46] fafa2017 commented on #65
I have resolved the problem by installing the libXScrnSaver package.
Thank you for this intervention

[2018-12-12 00:08] #65 closed

[2018-12-12 15:52] stripedpajamas commented on #41
@ganapativs vscode uses electron's autoupdater functionality, and the electron docs [here](https://electronjs.org/docs/api/auto-updater#macos) say the app needs to be signed for Mac OS.

We don't currently sign the builds. Do you know how to do this in an safe automated way?

[2018-12-12 16:14] JL2210 opened #66 "32-bit Windows packages."
I believe that Windows and Wine users will be happy if we provide 32-bit Windows packages. Any suggestions?

[2018-12-12 23:16] pavanagrawal123 commented on #66
I'd be willing to work on this if wanted :)

[2018-12-13 09:06] ganapativs commented on #41
@stripedpajamas Okay, I don't know much about signing desktop apps, have to figure it out.

[2018-12-13 13:37] JL2210 commented on #66
Thank you. That would be much appreciated.

[2018-12-14 13:43] radevm opened #67 "The icon partially covers the title when pinned to the Start menu"
The new icon covers most of the application title when pinned to the Start menu and resized to medium.

![capture](https://user-images.githubusercontent.com/5891204/50006357-31d56700-ffb6-11e8-869c-6b040fc95dc5.PNG)
VSCodium shortcut between ST3 and VSCode

Window 10 (64-bit Enterprise 1709)

[2018-12-17 23:52] gerroon commented on #8
Any chance of getting the 1.30 Win builds?

thanks

[2018-12-18 12:11] stripedpajamas commented on #8
@gerroon yes! I am trying to figure out why it didn't auto build. Should have them later today.

[2018-12-22 03:17] gerroon commented on #8
@stripedpajamas did you figure out what the issue was?

[2018-12-22 21:51] nikhiljha opened #68 "Migrate Windows Builds to New Platform"
The last version with a build for Windows was 1.29. Both 1.30 and 1.30.1 don't have Windows packages.

[2018-12-22 22:08] pavanagrawal123 commented on #8
@stripedpajamas we should be able to trigger with a webhook or something though right? also, what's broken on the builds?

[2018-12-23 00:18] stripedpajamas commented on #68
@nikhiljha ok so we should have Windows binaries for the latest release now. I'd like to leave this issue open as we work out getting the scheduled builds working.

[2018-12-23 00:20] stripedpajamas commented on #68
@pavanagrawal123 what kind of webhook do you think would work in this case? Perhaps we could trigger something from Travis, where the scheduling works properly.

[2018-12-23 01:03] pavanagrawal123 commented on #68
@stripedpajamas that's what i was thinking hook over from Travis to Azure DevOps to trigger a "build"

[2018-12-25 19:19] stripedpajamas commented on #68
@pavanagrawal123 I do not see a way to trigger builds via web request in the documentation... can you point me in the right direction?

[2018-12-25 21:05] pavanagrawal123 commented on #68
@stripedpajamas I haven't really used it before either, but I'll look into it ASAP!

[2018-12-26 17:52] Xandernardo commented on #66
Just what I was looking forwards too, as in my work I only have access to a Win7 x86 machine

[2018-12-26 18:12] JL2210 commented on #66
@pavanagrawal123 Have you started work yet?

[2018-12-26 23:21] JL2210 commented on #67
We need to have a black icon instead of a white one. @stripedpajamas?

[2018-12-30 19:08] stripedpajamas commented on #67
The issue here is icon size. Need investigation into the difference of icon sizes in this repo vs Microsoft's repo.

[2018-12-31 05:20] pavanagrawal123 commented on #68
@stripedpajamas just looked. I don't see anything that indicates that we can trigger a build using a web request... which is quite disappointing... As an alternative, we could make Travis commit something to a branch and then use branch filters to pick that up via CI, but at that point, it might just be a better idea to run w/ AppVeyor....

[2019-01-03 02:59] jingyu9575 opened #71 "C++ extension's Windows debugging does not work"
1. Install Microsoft's C/C++ extension;
2. Create a folder with a Hello World C++ program and build it;
3. Debug with the default C++/Windows (cppvsdbg) launch.json.

Expected behavior: (tested in MS VSCode)
The program is launched and can be debugged.

Actual behavior in VSCodium:
This message shows, and then nothing happens.

[code]

Is this because of the C/C++ extension's licensing? Is there a

[2019-01-03 07:19] ganapativs opened #72 "code-settings-sync extension cannot install extensions when using linux build"
`code-settings-sync` extension cannot install extensions when using linux build. Tested on latest Ubuntu.

**Steps to reproduce:**
- Install latest linux build(either `amd64` or `x64`)
- Try to sync extensions using latest `code-settings-sync` extension
- Extension installation fails with following error
[code]

**Reason:**
- MacOS and Windows(probably) have `bin/code` file inside installation pat

[2019-01-03 11:56] ganapativs commented on #72
@paulcarroty Yes!

Looks like there are some differences in the way the VSCodium binary is exposed, like VSCodium build of MacOS has `bin/code` file inside installation path, whereas linux build has `bin/vscodium` file. Is this expected?

Also the `code-settings-sync` needs to be fixed to support the same. but how to detect if extension is running inside VSCodium?

If somebody can help with it, I

[2019-01-03 14:30] ganapativs commented on #72
@paulcarroty I'll also raise the issue in `code-settings-sync` repo, but it feels like it's also relevant to discuss it here.

[2019-01-03 14:33] stripedpajamas commented on #72
Hi @ganapativs! Thank you for this really well documented issue, that is very helpful. You might have already said this and I missed it, but does this extension work when using MS VS Code on Linux? Wondering if the extension just doesn't know how to handle the Linux installation of VS Code or if it has to do with something we changed during build.

[2019-01-03 15:00] stripedpajamas commented on #71
Hi @jingyu9575 👋

I only have a Mac and it seems that the extension works properly there (created hello world program; built it; debugged via VSCodium and it printed Hello World in my terminal). Mac debugging uses `cppdbg` though.

I do not think this is a licensing issue. The licensing is confusing to me in the extension repo (https://github.com/Microsoft/vscode-cpptools), but it looks to me like

[2019-01-03 15:11] stripedpajamas commented on #68
Ok. I can run the builds manually for now, and I will change this issue to reflect the new task of migrating Windows builds over to AppVeyor or Travis (still waiting on secret support in Travis).

[2019-01-04 05:01] ganapativs commented on #72
@stripedpajamas Yes. I'm using VSCode in Ubuntu right now. `code-settings-sync` just works fine.

Also [migrating from VSCode to VSCodium](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#migrating-from-visual-studio-code-to-vscodium) works fine in Linux. But this is a temporary fix.

[2019-01-04 16:56] jingyu9575 commented on #71
Thank you @stripedpajamas .

About the licensing, the Windows debugger is [proprietary](https://github.com/Microsoft/vscode-cpptools/issues/21#issuecomment-248349017). I checked the developer console when this issue happens, and it shows this error:

[code]

Searching `0x89720010` provides several other debugging bugs of the C# extension, which is also proprietary, and it seems that Microsoft is a

[2019-01-04 19:48] stripedpajamas commented on #71
Wow that's really unfortunate. Thank you for digging into the issue there. I don't think there are many paths forward, outside of writing an open source extension from scratch.

[2019-01-04 19:51] stripedpajamas commented on #72
I see.

Since that extension doesn't explicitly support VSCodium, a PR would probably go a long way further than an issue.

In MS Visual Studio Code, do you have `bin/code` inside the installation path?

[2019-01-05 19:39] stripedpajamas commented on #72
@ganapativs I think I found where MS is treating Linux/Windows differently than Mac:

https://github.com/Microsoft/vscode/blob/master/build/gulpfile.vscode.js#L408

It looks like for Linux and Windows, the `bin/code.sh` (which is the CLI file needed in `code-settings-sync`) is renamed to `bin/${product.applicationName}` which we have set to VSCodium. On Mac they've hardcoded the rename to `bin/cod

[2019-01-06 10:46] ganapativs commented on #72
@stripedpajamas Thats a great find 👏 But renaming binary to `bin/code` in all platforms would fix half of the problem.

The other half of the problem is in [this line](https://github.com/shanalikhan/code-settings-sync/blob/master/src/service/pluginService.ts#L317) and [this line](https://github.com/shanalikhan/code-settings-sync/blob/master/src/service/pluginService.ts#L324).

`myExt` variable in

[2019-01-06 11:00] paulcarroty commented on #72
Agree. Hope we'll avoid side effects this time.

[2019-01-06 16:59] stripedpajamas commented on #72
On second thought, we should try to minimize all changes to the vscode repo prebuild when possible. It makes more sense to PR code-settings-sync to look for product.applicationName when applicable.

[2019-01-07 04:44] ganapativs commented on #72
Hmmm. Either way should work fine. I'll spend some time on `code-settings-sync` codebase then.

[2019-01-08 19:23] #71 closed

[2019-01-09 01:45] kiendang opened #73 "code command is not symlinked to homebrew prefix"
I think it's a good idea to symlink `VSCodium.app/Contents/Resources/app/bin/code` to Homebrew prefix so users can `code <file-name>` from the command line like they can do it with the original VSCode.

[2019-01-09 01:48] stripedpajamas commented on #73
Hi @kiendang -- running `code` from the command line has come up a couple of times before. Refer to https://github.com/VSCodium/vscodium/blob/master/DOCS.md#terminal-support to get it set up (it is no different than the VS Code setup, just the name is different).

[2019-01-09 01:51] kiendang commented on #73
Oh thanks. Sorry wasn't looking hard enough. Will close this issue and the other pull request then.

[2019-01-09 01:51] #73 closed

[2019-01-09 13:04] nim-odoo opened #74 "Missing amd64.deb and el7.x86_64.rpm builds for 1.30.2"
Hello,

Would it be possible to release the mentioned packages for v1.30.2?

Thanks

[2019-01-09 14:17] stripedpajamas commented on #74
Thanks for the heads up @nim-odoo -- looks like that build had an `npm install` issue. I'm rerunning it now.

[2019-01-09 17:23] stripedpajamas commented on #74
All good now @nim-odoo 👍

[2019-01-09 17:23] #74 closed

[2019-01-09 20:51] gerroon opened #75 "Linux tar packages named Vscode"
Minor issue but why is the tar package named Vscode instead of Vscodium?

VSCode-linux-x64-1.30.2.tar.gz

[2019-01-10 07:18] nim-odoo commented on #74
Thanks

[2019-01-10 14:23] playgithub opened #76 "What data will telemetry collect?"
Thanks.

[2019-01-10 16:10] playgithub commented on #76
Yes. I'm considering to switch to FreeBSD or Linux, and tried at least 3 times, but switched back to Windows again now.

[2019-01-10 19:48] stripedpajamas commented on #76
Hmmm. Are you wondering what kind of telemetry is collected by Windows itself? I'm not sure.

This project's goal is producing an open source, telemetry-free VSCode. I'm sure Windows collects telemetry on its own, but as it is not open source, there isn't much insight available into disabling/avoiding that.

Going to close this issue out, but feel free to reply if you think there might be somethin

[2019-01-10 19:51] #76 closed

[2019-01-10 19:52] stripedpajamas commented on #75
Good find, @gerroon... I suspect the name is hardcoded somewhere in the VSCode build process. I'll take a quick look to see if I can find it.

[2019-01-10 19:56] stripedpajamas commented on #75
@gerroon actually it looks like I had manually set the zip file and tar files to use VSCode in the name 🤷‍♂️ #75 opened to resolve

[2019-01-11 02:48] playgithub commented on #76
ok, just not enough information. If telemtry data is encrypted, it tends to be dangerous. If not encrypted, analyze the data on the wire is ok. I think the format of telemetry data should be open, then I may feel free to let it be collected.

[2019-01-11 13:53] #75 closed

[2019-01-19 19:46] jingyu9575 commented on #68
@stripedpajamas [this](https://stackoverflow.com/a/52724205) seems to be the API for Azure Pipeline. Not sure if it is affected by the dormant status or not.

[code]

[2019-01-19 23:06] pavanagrawal123 commented on #68
@jingyu9575 I just checked, this seems to be a perfect candidate to use.

Sorry I missed this @stripedpajamas, we should be able to query from Travis to use this.

[2019-01-21 14:17] radevm commented on #67
The sizes are the same as far as I can judge but the size of the "content" is a different (also the background) - see below the official icons placed next to VSCodium icons:

![150x150](https://user-images.githubusercontent.com/5891204/51479733-cdb57800-1d97-11e9-8022-d298bb36deb0.PNG)
![70x70](https://user-images.githubusercontent.com/5891204/51479740-d0b06880-1d97-11e9-928a-0a46b58aad16.PNG)

[2019-01-21 14:22] JL2210 commented on #67
We could always remove the white background. That might fix the issue.

[2019-01-21 14:46] radevm commented on #67
My humble suggestion is to shrink the logo to match the official logo's size.

[2019-01-21 22:36] Jackymancs4 commented on #67
Hello,
to fix the issue, I prepared two PRs (that I'll submit tomorrow for review).
The final result looks like this:

|Version|Big|Small|
|--|--|--|
|Actual|![or-big](https://user-images.githubusercontent.com/6209647/51501893-03785200-1dd4-11e9-8578-a6a6b0005445.png)|![or-small](https://user-images.githubusercontent.com/6209647/51501892-03785200-1dd4-11e9-8297-e3c72d79ec9d.png)|
|v1|![v2-big](htt

[2019-01-21 22:42] JL2210 commented on #67
Thanks. `v1` looks good to me.

[2019-01-23 21:14] stripedpajamas commented on #67
Thanks so much @Jackymancs4 ! Looking forward to the PRs. We will probably use `v2` as it is the correct sizing of the originally voted-upon icon. Really appreciate you getting it sorted out.

[2019-01-23 22:05] stripedpajamas commented on #68
Good find @jingyu9575 ! Thank you for that. I put in a PR that triggers the Azure build from Travis if a build is necessary. We will see if it works even if the account is in dormant state... will probably take a few weeks before we know. If not, we can reopen this issue.

[2019-01-24 19:01] #68 closed

[2019-02-09 11:32] WrongBit opened #80 "Where are binaries for Win? (v.1.31)"
Guys, you spend your time to compile for Apple, but didn't make binaries for Windows??? Serious? In what world do you live, Narnia?

[2019-02-09 11:47] stripedpajamas commented on #80
Hi @WrongBit 👋

We have spent some time getting Windows binaries, but it looks like the most recent build (1.31) failed. I'm troubleshooting that now but with some luck you should see the Windows binaries for the latest version on the releases page in a short while.

[2019-02-09 13:19] stripedpajamas commented on #80
It's up there now

[2019-02-09 13:19] #80 closed

[2019-02-11 11:10] Eonfge commented on #65
@fafa2017 Bit late, but this is what you want:
https://flathub.org/apps/details/com.visualstudio.code.oss

[2019-02-12 11:14] paulcarroty commented on #72
[**Fix**](https://github.com/shanalikhan/code-settings-sync/issues/668#issuecomment-462065341)

I think we should add such cases to `Tips & Tricks`.

[2019-02-13 13:32] ExceptionGit opened #82 "C# extension's debugging does not work 0x89720010"
1. Install Microsoft's C# extension;
2. Create a folder with a Hello World C# program and build it;
3. Debug with the default Microsoft .NET Core Debugger (vsdbg) launch.json.

This message shows, and then nothing happens:
[code]
#71
https://github.com/dotnet/core/issues/505
https://github.com/OmniSharp/omnisharp-vscode/issues/2491

**Fix**
- Get https://github.com/Samsung/netcoredbg/
- Edit "/you

[2019-02-13 13:36] pavanagrawal123 commented on #82
See #71

[2019-02-13 13:44] olberger opened #83 "Please document how to rebuild locally"
Even though the purpose may be to release already built packages, I guess it would be better to document the build process, so that one can redo and not fear MitM...

AFAICS the .travis.yml can lead to needed commands ATM.

Hope this helps,

[2019-02-13 13:50] stripedpajamas commented on #83
Hi @olberger 👋

The purpose of this project is only to provide the built packages. Since this isn't a fork, it's just a bunch of automated build scripts, you can follow Microsoft's own build documentation to do it yourself: https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run

[2019-02-13 13:50] #83 closed

[2019-02-13 13:56] stripedpajamas commented on #82
Hi @ExceptionGit 👋

Thank you for this info!! Can you explain a little it all means? Here is what I concluded, let me know where I am wrong:

- MS's C# extension only works with the VS Code product
- Samsung also provides a C# debugger (?)
- If you edit the launch.json file in your project, you can get C# debugging using the Samsung debugger (?)

Follow-up questions:

- Is this C# extension proble

[2019-02-13 15:19] stripedpajamas commented on #72
@ganapativs can you confirm that the fix @paulcarroty linked to works for you (in VSCodium)? If so, I agree we should add this to the docs.

[2019-02-13 17:25] ExceptionGit commented on #82
Hi @stripedpajamas :wave:

MS's C# extension works everywhere, but debugger from this extension only works with the :
`Visual Studio Code, Visual Studio or Visual Studio for Mac`
https://github.com/OmniSharp/omnisharp-vscode/issues/2491#issuecomment-418811364
https://github.com/dotnet/core/issues/505

Yes! https://github.com/Samsung/netcoredbg/blob/master/README.md
`NetCoreDbg is a managed code de

[2019-02-13 20:31] stripedpajamas opened #84 "Linux 32-bit builds are failing as of 1.31.0"
Seems like we might be missing a 32-bit package somewhere in the install_deps section. Error from Travis:

[code]

[2019-02-15 00:40] #84 closed

[2019-02-18 13:44] stripedpajamas commented on #82
Awesome 👍

I will put this into a snippet on the Docs page for future reference. Thanks @ExceptionGit

[2019-02-19 15:31] paulcarroty commented on #72
@stripedpajamas it works, I tried on another machine.

[2019-02-20 01:39] #72 closed

[2019-02-21 15:56] #82 closed

[2019-02-25 20:11] rugk commented on #7
It's still not linked or did I miss something? @stripedpajamas

[2019-02-26 14:37] KNobles opened #88 "Bad system call"
I recently installed Parrot Home KDE edition and configured the task.json, launch.json to work on c++ application and after building and compiling (F5) and get this message :

"[1] + Bad system call            /usr/bin/gdb --interpreter=mi --tty=${DbgTerm} 0</tmp/Microsoft-MIEngine-In-wi527ekr.wtn 1>/tmp/Microsoft-MIEngine-Out-a7nqamb7.6wg

Press any key to continue..."

The thing is when I was us

[2019-02-26 15:21] stripedpajamas commented on #88
Hi @KNobles -- have you tried doing these same steps in Visual Studio Code instead of VSCodium? If the problem also happens there, it probably isn't a VSCodium issue and may be related to the extension itself.

[2019-02-26 15:53] stripedpajamas commented on #7
@rugk sorry! Forgot to update the README. I'll reopen this until a PR is merged that closes it

[2019-02-26 16:21] KNobles commented on #88
Hello, well I uninstalled vscodium after that issue and downloaded vscode and it doesn't happen on the vscode. One thing though, I booted live with Parrot Home KDE edition and the problem wasn't there, everything was fine, it came after a big update so that's that

[2019-03-07 18:33] #7 closed

[2019-03-08 20:53] gerroon opened #90 "1.32.X Win release?"
Hi

Any plans for the Win release?

thanks

[2019-03-08 21:09] stripedpajamas commented on #90
Yes, it looks like the Windows build keeps running out of memory in the Azure Pipeline. Will troubleshoot and hopefully get the build out.

[2019-03-08 21:11] gerroon commented on #90
Thanks

[2019-03-09 01:05] pavanagrawal123 commented on #90
@stripedpajamas I don't see a memory issue, but I see some license file not being there causing the compile to fail, which causes the rest of the tasks to fail...

[2019-03-09 08:44] ghost opened #91 "DFSG compliment"
Is it possible that VSCodium compatible with [DFSG](https://people.debian.org/~bap/dfsg-faq.html)?

It would be nice if the concerned maintainer provide VSCodium builds through debian main repositories.
If not, then I am willing to help. I am not really into legalization, but something nice to have on official repo, which will cover up Ubuntu and it's derivatives too.

It's even mentioned in the [

[2019-03-09 19:31] tribut commented on #91
Note that there is a RFP for vscode: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898259

[2019-03-09 19:34] laym4n commented on #91
Hmm, looks like green signal for me.

[2019-03-11 17:16] den32ds commented on #90
Still wait

[2019-03-14 19:59] stripedpajamas commented on #90
You're right @pavanagrawal123. Seems like the inno build script is looking for LICENSE.rtf now, instead of LICENSE.txt. I can't figure out how it would ever find that or any build script that renames the existing txt file to an rtf. I suppose we could add a line that copies the existing LICENSE.txt to LICENSE.rtf to our own build script. Just feels like I'm missing something.

[2019-03-15 19:09] den32ds commented on #90
So, what`s wrong with Win builds, if there are already 3 versions in a row?

[2019-03-16 18:49] gerroon commented on #90
1.32.3 says

[code]

But I see no win build, not sure if there was a fix or not.

[2019-03-16 20:13] pavanagrawal123 commented on #90
psst @stripedpajamas license change is related to this commit: https://github.com/Microsoft/vscode/commit/b81b84ff639af8de8df7c53a67874c2aee83adfa

[2019-03-16 23:19] ChrisBaker97 opened #92 "1.32.3 releases located in 1.32.2 folder"
The most-recent `1.32.3` releases are all located at
`https://github.com/VSCodium/vscodium/releases/download/1.32.2/...`, which is breaking some package manager installs, i.e. [Homebrew](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/vscodium.rb), which is coded to look for releases in `https://github.com/VSCodium/vscodium/releases/download/#{version}/VSCodium-darwin-#{version}.zip`.

[2019-03-17 11:47] anishmittal2020 opened #93 "Transfer list of enabled extensions for every workspace from VSCode"
I am using Ubuntu 18.04.

How can I transfer the list of enabled extensions for every workspace? There should be somewhere
 Vscode would stores this information.

For the time being I want to keep my Microsoft VS Code binary as well as VSCodium. Is it ok if I symlink the entire User folder `Linux: $HOME/.config/VSCodium/User`  as:

[code]

Also, will it be an issue if I open both VS code and VScod

[2019-03-17 16:02] stripedpajamas commented on #92
Hmm. It looks like MS didn't add a tag for 1.32.3 which is why they are associated with 1.32.2. I think I can just manually make a 1.32.3 tag and move the binaries into it.

[2019-03-17 16:04] stripedpajamas commented on #90
Sorry for the delay, everyone. I've been without my laptop this week but will hopefully get the Windows builds up and going in the next day or so.

The first issue I found was that the build was running out if memory and that is something I resolved. The other issue is the build is looking for a license rtf instead of txt. No info from MS about why this change was committed but it shouldn't be too

[2019-03-17 18:17] ChrisBaker97 commented on #92
Why is there no 🤞 emoji?

[2019-03-18 19:43] Thilas commented on #66
@pavanagrawal123, any progress on a 32-bit release? Thanks!

[2019-03-19 04:26] #92 closed

[2019-03-19 05:12] stripedpajamas commented on #90
I think we're good!

[2019-03-19 05:12] #90 closed

[2019-03-19 05:58] stripedpajamas commented on #67
@Jackymancs4 any update on that PR?

[2019-03-19 14:25] den32ds commented on #90
Finally, thanks. You make my day

[2019-03-25 13:11] Harvzor commented on #82
It's great that there's a well documented issue for this. However, this is a deal breaker when it comes to Codium.

I can't expect my whole team to switch to using `netcoredbg` just because I want to run Codium (assuming I understand this solution correctly).

I'd prefer if this issue was highlighted in the `README.md` so others like me don't end up wasting some time on this issue.

I guess I'll h

[2019-03-25 13:20] crazyBaboon opened #95 "Could not open debian-binary"
I have downloaded **vscodium_1.32.3-1552960621_amd64**.

On Linux Mint 19.1 I get the following message when doing "sudo gdebi-gtk debian-binary":

The permissions I have set for **debian-binary** are the following:
`-rwxr-xr-x`

What is going on here?

[2019-03-28 13:49] aeroaks opened #96 "Integrated terminal does not launch"
On launching the integrated terminal, i get the following:
`The terminal process command 'C:\WINDOWS\System32\cmd.exe' failed to launch (exit code: 2)`

I am running the following:
![image](https://user-images.githubusercontent.com/3954144/55162671-9634c480-5168-11e9-9296-84c7268c59d2.png)

[2019-03-28 13:50] stripedpajamas commented on #96
Hi @aeroaks 👋

Does it launch fine if you use Microsoft's release instead of VSCodium?

[2019-03-28 15:28] aeroaks commented on #96
Hi @stripedpajamas ,

Did not try, there is a reason I chose VSCodium over VSCode ;)

I will try and come back

[2019-03-28 15:33] stripedpajamas commented on #95
Hi @crazyBaboon 👋

That's rough. I'm not sure what's going on. I don't have a Debian machine to test it myself at the moment, so I'm not sure if that package is corrupt or not. Can you try a v1.31.x download and see if you experience the same issue?

[2019-03-28 15:35] aeroaks commented on #96
I installed and tried VSCode. It works on a fresh install.

[2019-03-28 15:38] stripedpajamas commented on #93
Hello @anishmittal2020. As far as I know it should not be a problem to symlink the the folders. And as far as I know it's not a problem to run VSCode and VSCodium simultaneously (I've done this myself many times). _But_, if you are symlinking _and_ running them simultaneously, there may be issues with them fighting over who is writing/reading the configuration files. I don't know, just a warning i

[2019-03-28 15:38] #93 closed

[2019-03-28 15:40] stripedpajamas commented on #96
Pretty weird. I looked up exit code 2 on Windows and it says that means it can't find the file. Does `C:\WINDOWS\System32\cmd.exe` exist?

[2019-03-28 15:55] stripedpajamas commented on #91
Hello @b17wise 👋

I really don't know much of anything about getting a package in to the debian main repositories, but I would support that 100% and help out where possible. Based on the FAQ you linked to, I think VSCodium fits the free definition just fine.

Any help to get this going would be appreciated 🙏

[2019-03-28 15:57] stripedpajamas commented on #88
Hmm. I wonder if it could have anything to do with https://github.com/VSCodium/vscodium/issues/71 where C++ extension is disallowed for VSCodium?

[2019-03-28 16:07] aeroaks commented on #96
Yes, I can go through `Cmder` and through file system and run `cmd.exe`

[2019-03-28 18:38] VentGrey commented on #91
You can upload your package to mentors.debian.net
there a Debian Developer or contributor can "adopt" your package and push it into the next debian release if you manage to maintain it stable. I maintain the `obsidian-icon-theme` I think I can guide you a little :)

[2019-03-29 14:03] aeroaks commented on #96
Terminal running in VSCode is installed as follows:
Version: 1.32.3 (user setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.16299

[2019-03-29 14:08] stripedpajamas commented on #96
I'm confused-- are you saying it works when you use the user setup instead of the system setup?

[2019-03-29 14:09] stripedpajamas commented on #96
Oh I see-- you're saying it works in VSCode 1.32.3 user setup. Did you try VSCodium user setup as well?

[2019-03-29 15:49] aeroaks commented on #96
Terminal seems to open properly for VSCodium user setup.

[2019-03-29 16:13] stripedpajamas commented on #96
Ok that's good news. Sorry to ask you to jump through hoops here, but a final step I would check is if the terminal doesn't work properly in VSCode system setup. If it doesn't work there, we aren't dealing with a VSCodium issue anymore. If it does work, something might be awry with our system setup.

[2019-03-29 16:37] stripedpajamas commented on #82
Thanks for trying it out @Harvzor and thank you for your comment. I agree and will put a note in the README to hopefully save others from wasting any time 👍

[2019-03-29 16:38] stripedpajamas opened #97 "Highlight that C#/C++ debugging doesn't work by default"
It's great that there's a well documented issue for this. However, this is a deal breaker when it comes to Codium.

I can't expect my whole team to switch to using `netcoredbg` just because I want to run Codium (assuming I understand this solution correctly). It's a shame they forced the more official solution to only work with Code.

I'd prefer if this issue was highlighted in the `README.md` so

[2019-03-29 16:43] stripedpajamas commented on #91
@VentGrey good catch. Currently the build will not work without an internet connection because all the dependencies are not bundled in the source code itself. All the things it downloads are MIT-licensed, but the two extensions it downloads from the marketplace are built behind the curtain so that may pose a problem.

I will read through mentors.debian.net and see if it all makes sense.

[2019-03-29 17:13] b17wise commented on #91
Good catch. Seems can cause issue here a bit.

[2019-03-30 08:11] ExceptionGit commented on #82
Hi @Harvzor
I think this problem is not in VSCodium or plugin omnisharp-vscode. Problem in Microsoft license https://github.com/dotnet/core/issues/505 . VSCodium community is not obliged to keep track of all plugins/licenses/etc, if you don't read the license terms, this is your problem.

Microsoft .NET Core Debugger (vsdbg) is not an open source product! Please read https://aka.ms/VSCode-DotNet-D

[2019-03-30 14:29] PalinuroSec opened #98 "Official vscodium website"
Hello, i would like to contribute to the vscodium project by building and hosting a dedicated website for it, to make the whole user experience for vscodium newcomers more appealing.

We (www.parrotsec.org) already use vscodium as the default advanced editor of our GNU/Linux distribution, and our server infrastructure is big enough to host the website for you
https://www.parrotsec.org/docs/weather

[2019-03-30 14:57] stripedpajamas commented on #98
Wow thanks so much @PalinuroSec 🙏🙏🙏

There is a GitHub pages site (skeleton) that you could take over at https://GitHub.com/VSCodium/vscodium.github.io

[2019-03-30 19:39] PalinuroSec commented on #98
i found some spare time to work on it and i made a first draft for you to review

i also registered the vscodium.com domain and i'm ready to publish the website with your approval.

p.s.
if you want to have control over the domain i can give you the transfer code, otherwise i would be happy to contribute by taking care of it through the parrot project.

p.p.s.
i'm not a web developer, tips are wel

[2019-04-01 08:26] aeroaks commented on #96
I uninstalled system setup of VSCodium and tried user setup and that works fine now. I can open the Terminal. :)

[2019-04-01 15:33] stripedpajamas commented on #98
@PalinuroSec thanks for the first draft!

is there a way to 100% tie vscodium.com to the vscodium.github.io github repo? so that merges to master affect it? that would be ideal. I don't really need control over the domain, I'd rather spread the wealth 😸

[2019-04-01 15:33] #96 closed

[2019-04-01 16:21] PalinuroSec commented on #98
i can setup a pull cronjob to periodically update the repo from git and rebuild the static files with jekyll

[2019-04-01 22:39] stripedpajamas commented on #98
Sounds good. I'll close this issue and work can continue in the website repo. Thanks @PalinuroSec

[2019-04-01 22:39] #98 closed

[2019-04-02 10:57] Rondom commented on #98
https://help.github.com/en/articles/quick-start-setting-up-a-custom-domain

[2019-04-05 06:42] mtrp12 opened #100 "Use sources.list.d folder instead of appending to sources.list for apt repository"
In the vscodium website, the install command for ubuntu/debian adds the deb repo of vscodium to the sources.list. It would be better to use vscodium.list under /etc/sources.list.d as it would enable cleaner management of the repo. Adding to sources.list clutters the sources.list unnecessarily. It would be great if you changed it, as many people including me just copy paste the commands. Thank you.

[2019-04-05 07:38] optikfluffel commented on #100
@mtrp12 feel free to open a PR over at [VSCodium/vscodium.github.io](https://github.com/VSCodium/vscodium.github.io)

[2019-04-05 14:50] tyu1996 opened #101 "AppImage binary support"
I tried to build VSCodium AppImage from deb binary package by myself, but no avail (Suppose I'm missing something).

Would like to have an official AppImage build here, I'll gladly help to use it for daily basis.

[2019-04-05 14:59] tyu1996 commented on #101
@probonopd Have you known this before? This is VS Code binary without Microsoft proprietary things.

[2019-04-05 15:00] amankkg opened #102 "VSCodium nap package?"
The recent release of VSCode v. 1.33 is now distributed via snap package https://snapcraft.io/code

Would be great to see a snap package for this project also!

[2019-04-05 17:19] probonopd commented on #101
Since this project already gets built on Travis CI it might be best to run it through `linuxdeployqt `like shown in https://github.com/probonopd/linuxdeployqt#using-linuxdeployqt-with-travis-ci to produce AppImages. What does @stripedpajamas think?

[2019-04-05 17:46] stripedpajamas commented on #66
@JL2210 @Xandernardo @Thilas I set up 32-bit Windows builds but can't test them myself. The build process went smoothly. I'll close this out and if anyone has any issues using them we can open up a new issue.

[2019-04-05 17:46] #66 closed

[2019-04-05 19:00] msdobrescu commented on #101
+1

[2019-04-06 11:24] Thilas commented on #66
Thanks @stripedpajamas! I quicly tested it and it seems alright to me. VSCodium chocolatey package has also been updated in order to provide this 32-bit version as long with the existing 64-bit one.

[2019-04-07 01:51] bentinata opened #104 "Windows Build Titlebar Icon"
Titlebar icon is not the same as taskbar.

![image](https://user-images.githubusercontent.com/3183661/55677459-0209f080-5912-11e9-9ca1-38dd1f2c92f4.png)

Installed using [VSCodiumSetup-x64-1.33.0.exe](https://github.com/VSCodium/vscodium/releases/tag/1.33.0).

[2019-04-07 02:03] stripedpajamas commented on #104
Good catch!! Thanks for reporting this @bentinata. I will investigate if MS changed how icons work in recent versions.

[2019-04-07 03:03] #97 closed

[2019-04-07 17:48] VentGrey commented on #91
You could try to bind the build to the debian `npm` packages or package those binary dependencies yourself and use them for Codium :thinking:

[2019-04-08 03:11] MaxdSre opened #105 "Add hash digest"
Would it be possible to add hash digest for release packages, such as sha256sum.

[2019-04-08 03:22] stripedpajamas commented on #105
Hi @MaxdSre -- where would these digests live? In the notes associated with each release?

[2019-04-08 03:23] stripedpajamas commented on #102
I think this is important for us to get working, as the goal would be 100% parity with what is offered by Microsoft. Any help is appreciated toward this goal; I will look into it also when I have some time to.

[2019-04-08 03:26] stripedpajamas commented on #101
Thanks for the info @probonopd! Currently I believe Microsoft does not provide AppImages of their build of `vscode`, but it does sound like it would be a great thing for VSCodium to provide. They have recently started providing snap packages, so my goal would be to first support VSCodium in the snap format and then, if it is feasible, to support VSCodium in AppImage format. Any help toward either

[2019-04-08 14:29] asterizk commented on #105
Agreed, this would be nice, since (at least on the Mac side of things) the build isn't signed.

[2019-04-08 14:31] asterizk commented on #105
At least for me that would be perfectly fine (assuming release notes are controlled in someway against write access from the outside (I'm assuming changing them would require a PR))

[2019-04-08 19:04] hypercube33 opened #106 "Need MSI Enterprise Installer"

[2019-04-08 19:42] stripedpajamas commented on #106
Hi @hypercube33 -- can you provide more info? Is this an installer that is currently provided by Microsoft for Visual Studio Code but that VSCodium does not offer?

[2019-04-09 06:42] probonopd commented on #101
On a deb-based system, e.g., as part of your Travis CI build, run

[code]

This will convert the deb into an AppImage.

Here is the recipe:
https://github.com/AppImage/pkg2appimage/blob/master/recipes/VSCodium.yml

If you want to make the AppImage generation part of your Travis CI build, you should store a local copy of the recipe and change

https://github.com/AppImage/pkg2appimage/blob/c7ed83bb5

[2019-04-09 11:19] linsui commented on #105
How about a `SHA256.txt` in GitHub realease?

[2019-04-09 13:12] hruvulum opened #107 ""Install Extensions" comes up empty"
When I run the "Install Extensions" command in vscode, a list of over 10,000 extensions appear in the side bar. When I run the same command in vscodium, it says, "no extensions found". This is on Windows 10.

[2019-04-09 15:52] borgstrom commented on #105
My preference would be that for each file that a build produces the build script should do a:

[code]

Then the `deploy` step in the travis file should just use `*.sha256` along with all the other files.

[2019-04-09 15:53] stripedpajamas commented on #107
That is sad @hruvulum 😢 Can you reply back with this info?

- arch (32-bit or 64-bit)
- version of VSCodium
- system setup or user setup used to install

[2019-04-09 16:00] stripedpajamas commented on #101
Wow thanks so much @probonopd

I will work on getting this into Travis.

🎉 🎉 🎉

Would it then be helpful for everyone if this AppImage was uploaded as another file in the release to Github Releases?

[2019-04-09 17:11] probonopd commented on #101
Absolutely. 👍

[2019-04-09 19:31] hruvulum commented on #107
64-bit, version 1.33.0, user setup.

Since writing my bug report, I found some other way to get uninstalled extensions to be listed in the side bar in the extensions view, so the motivation for my writing this bug report is gone, but I stand ready to help in any way I can if you still want to try to fix it.

[2019-04-09 19:34] stripedpajamas commented on #107
Can you share your workaround? The extensions marketplace should be set by the `product.json` file during build time, which is used across Linux/Mac/Windows builds.

[2019-04-09 22:51] stripedpajamas commented on #101
Any comments on #108 welcome, or if all looks good I will merge in tomorrow. AppImage would be generated on next release from MS.

[2019-04-10 05:11] hruvulum commented on #107
When I run the command "Show Popular Extensions" on the menu under the icon in the top right corner of the extensions view, the extensions view is populated by a very long list of extensions sorted by how many times they have been installed.

[2019-04-10 06:00] probonopd commented on #101
Currently it does not pass our automated tests:

[code]

If those are fixed, it should hopefully pass the tests. (The test checks that `Icon=` is in the desktop file exactly once, which is probably a bit oversimplistic.)

[2019-04-10 06:31] atcommander commented on #102
I would be interested in helping if you are still looking for someone to help with this

[2019-04-10 06:36] stripedpajamas commented on #102
Sure!

[2019-04-10 08:07] Skeeve opened #109 "How to migrate from Visual Studio Code to VSCodium⁉︎"
I'm so glad a colleague pointed me to VSCodium.

However I was already using VSC for about 6 month so it was already tweaked with extensions.

This is how I tried to copy over all extensions and settings on my Mac.

Is it correct? Are there better ways?

[code]

[2019-04-10 08:38] cbluth commented on #109
https://github.com/VSCodium/vscodium/blob/a02839b466d8d01b8a61ea9611f0b74039538eae/DOCS.md#migrating-from-visual-studio-code-to-vscodium

[2019-04-10 09:09] Skeeve commented on #109
Didn't find what you linked to. Thanks for that.

So I did (a bit more than) what is required.

[2019-04-10 09:09] #109 closed

[2019-04-10 13:40] stripedpajamas commented on #109
Thanks for using VSCodium @Skeeve 😊

I've also seen some people use the `code-settings-sync` extension to accomplish the same thing.

If you have any ideas about how to make that Docs page more visible to new users let me know! One idea I just had is to make a GH Issue Template. That way when someone makes a new issue there could be a checkbox in the body of the issue for "My issue is not document

[2019-04-10 15:36] stripedpajamas commented on #101
@probonopd could it be related to this https://github.com/AppImage/appimage.github.io/issues/35 ? Only wondering because I know pkg2appimage runs `desktop-file-validate` itself and it isn't throwing the FATAL message there. During build I'm running `sudo apt-get install desktop-file-utils` because when I ran it the first time pkg2appimage failed `desktop-file-validate` not being installed. So I'm

[2019-04-10 15:46] tyu1996 commented on #101
Thanks a lot @probonopd ! I am just a week new to AppImage and no much experience on building AppImage, as the program like VSCodium will be too hard for me.

I will dig deeper on building AppImage as long as I have free time!

[2019-04-10 15:56] stripedpajamas commented on #101
[code]

is what I see in the build log https://api.travis-ci.com/v3/job/191646710/log.txt

[2019-04-10 16:35] stripedpajamas commented on #107
Oh I see what's going on now. Yes I also experience the original issue of there being no "Recommended Extensions". Searching the extensions or choosing the Sort By Name | Rating | Install Count works. I'm not sure why there aren't any recommended extensions, but I think extension recommendations come from hitting a Microsoft API so it may be related to us disabling telemetry. Since extension listi

[2019-04-10 16:35] #107 closed

[2019-04-10 16:39] timothykim opened #110 "Telemetry explanation in the readme and website is confusing"
The following sentence

is very confusing and hard to parse. When you start reading, it makes you think that telemetry is enabled. So you have to get to the second clause of the sentence to learn that it's disabled. However, the second clause can cause more confusion because it describes what the build does in order to disable telemetry. The reader has to infer that not passing the flag disables t

[2019-04-10 16:44] stripedpajamas commented on #110
I agree! That sentence always frustrated me. PR welcome to update the readme, otherwise I will update it later today when I get a few minutes.

[2019-04-10 17:17] hruvulum commented on #107
You don't want to remove "Extensions: Install Extensions" from the name space to avoid discouraging people kicking VSCodium's tires?

I am very new to VSCodium, and when I set myself the goal of installing an extension, "Extensions: Install Extensions" is the first thing I tried.

[2019-04-10 18:36] Skeeve commented on #109
Maybe put it into the README.md? As last point under Download/Install or maybe as a separate point at the end.

[2019-04-10 19:53] probonopd commented on #101
No, it's a test I coded... to ensure that there is exactly one `Icon=:`

https://github.com/AppImage/pkg2appimage/blob/3168d7ce787246feb697a950005fbffec0533def/appdir-lint.sh#L58-L63

[2019-04-11 03:51] #110 closed

[2019-04-11 04:03] stripedpajamas commented on #105
Sounds easy enough to implement 👍

[2019-04-11 04:10] stripedpajamas commented on #101
@probonopd how do I fix this? And why wouldn't `vscode` experience this? We aren't doing icons differently as far as I know.

[2019-04-11 06:52] probonopd commented on #101
This may do the trick:

https://github.com/AppImage/pkg2appimage/commit/8a23e2bd3c184fc75c94526440b554643e7f84f8

[2019-04-11 18:00] stripedpajamas commented on #101
Hmm alright that actually broke things because `Actions` references `new-empty-window` which that `for` loop deletes.

Comparing VSCodium and Code's resulting `.desktop` files and they look very similar -- is VSCode's AppImage passing lint?

[code]

[code]

[2019-04-11 18:33] probonopd commented on #101
Yes, I wanted to get rid of the `[Desktop Action new-empty-window]` block because it contains a second `Icon=` line which makes my test fail (because the test is a bit too simplistic).

[2019-04-11 18:35] stripedpajamas commented on #101
Yeah I understand that, but I'm seeing that VSCode's `desktop` file has the block in there. Was that lint rule added after VSCode's recipe? Does VSCode's current recipe->AppImage fail current linting like VSCodium's does?

[2019-04-11 18:37] probonopd commented on #101
I don't know whether recent versions of VSCode have a `[Desktop Action new-empty-window]` these days. Back when I created that recipe it was working for me.

[2019-04-11 18:45] stripedpajamas commented on #101
The `desktop` file I pasted in from VSCode was from their latest version 1.33.1 and it has the `new-empty-window` thing.

Does it make sense perhaps for the linter to only care if there is more than one Icon key per Action instead of globally?

[2019-04-11 19:29] probonopd commented on #101
Sure but I don't know how to do this in bash.

https://github.com/AppImage/pkg2appimage/blob/3168d7ce787246feb697a950005fbffec0533def/appdir-lint.sh#L58-L63

[2019-04-11 20:01] wolviecb opened #111 "Gentoo package"
**Describe the bug**
Sorry this is not exactly a bug, I've created a Gentoo ebuild for the x64 binaries the I do use on my overlay (gentoo specific terms just in case someone is wandering), so fell free to checkout/link/whatever :)
You can find the ebuild [here](https://github.com/wolviecb/overlay/tree/master/app-editors/vscodium)

Again sorry for the non-issue issue

[2019-04-11 20:36] stripedpajamas commented on #111
Cool @wolviecb 👍 👍 👍

I don't really understand overlays but it wouldn't hurt to put a link to your ebuild on the Docs.md page. PRs welcome.

[2019-04-11 22:44] stripedpajamas commented on #101
I don't know if it will be missed, but I'm trying my best to make as few changes as possible to the build/post-build to keep things in line with VSCode.

I wrote up some bash to check keys in each section separately and opened a [PR](https://github.com/AppImage/pkg2appimage/pull/367).

[2019-04-11 23:44] #111 closed

[2019-04-12 12:45] ShayBox opened #114 "Change extensions folder"
The `~/.vscode-oss` folder should be changed to `~/.vscodium` as it conflicts with the existing `Code - OSS` project, which would make it have to be conflicting in every package manager.

[2019-04-12 13:19] stripedpajamas commented on #114
This is by design. VSCodium and Code - OSS are ostensibly the same product. If a package manager allows you to install Code - OSS you really don't need VSCodium. VSCodium is an automated build of the vscode sources; Code - OSS is what one gets if one builds them manually. We wanted the two to share configuration and extension data.

It's important that this project is not seen as a fork because it

[2019-04-12 13:24] ealap opened #115 "Updating VSCodiumUserSetup (x64) is blocked by a false error"
**Describe the bug**
An error occurs when updating VS Codium x64 (user setup)

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [x] I checked [the Docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md) an

[2019-04-12 19:45] stripedpajamas commented on #115
Hi @ealap

Sounds pretty weird. I did a little digging into the `vscode` repo to see what the logic is around throwing that error. The message is [here](https://github.com/Microsoft/vscode/blob/master/build/win32/code.iss#L1038) in the Inno setup config file. It looks like the logic is roughly "if the 'other' architecture's uninstall key exists in the registry, throw the error".

It gets the other

[2019-04-12 20:36] probonopd commented on #101
Thanks, please see my comment there.

[2019-04-13 05:05] #114 closed

[2019-04-13 11:53] eaglersdeveloper commented on #102
VS Code already has [snapcraft.yaml](https://github.com/Microsoft/vscode/blob/master/resources/linux/snap/snapcraft.yaml). What if we will use it?

[2019-04-13 14:01] ealap commented on #115
Yes, I have tried installing and updating via System setup, and it works just fine. Though I still prefer using the User setup.

[2019-04-13 16:26] atcommander commented on #102
We could but it will need to be tweaked

[2019-04-13 18:37] MarkMura opened #118 "Missing donate button or Bitcoin address"
**Describe the bug**
You deserve some beer money for this. Let me send you some BTC

**Please confirm that this problem is VSCodium-specific**
- This bug absolutely doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- I checked the Readme, Help menu and Docs page and no Bitcoin address is menti

[2019-04-13 20:13] JL2210 opened #119 "Trending"
https://github.com/trending

[2019-04-13 20:17] stripedpajamas commented on #119
Yep, pretty wild. Since the past week a lot of issues are flowing in, a better place for this kind of thing would be the project's Gitter.

[2019-04-13 20:17] #119 closed

[2019-04-13 20:25] JL2210 commented on #95
You have to run `sudo gdebi-gtk vscodium_1.32.3-1552960621_amd64.deb`. The `debian-binary` file just lets `dpkg` know that it's a Debian binary.

[2019-04-14 02:52] #105 closed

[2019-04-14 02:55] stripedpajamas commented on #115
Can you confirm how you tested this with VS Code? Since the behavior looks to me to be written write into their `product.json` I would expect the same thing to happen.

[2019-04-14 14:01] #118 closed

[2019-04-14 15:21] evitalis opened #123 "MS crash reporter still enabled on clean install"
**Describe the bug**
Microsoft crash reporting appears to still be enabled upon clean installation

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [x] I checked [the Docs page](https://github.com/VSCodium/vscodium/bl

[2019-04-14 15:29] stripedpajamas commented on #123
Good catch!! It looks to me like MS moved the location of the crash reporter setting so that our settings script misses it (https://github.com/VSCodium/vscodium/blob/11db2cfa65e4793cef3a2ac7e83542b93cda15ab/update_settings.sh#L5). Will need to find what file controls the default for that setting and update our script.

[2019-04-14 15:37] evitalis commented on #123
Glad I could help. If it also helps I noticed this on a clean install on Fedora 29 but likely its the same issue as on Windows.

[2019-04-14 15:55] evitalis commented on #106
MSIs are not provided by Microsoft for VSCode from what I can tell. Likely this is being asked for to facilitate better/automated installations. MSIs commonly have silent installations which make doing remote installs much simpler and less disruptive/intrusive for end users.

[2019-04-14 21:36] #123 closed

[2019-04-15 06:36] JPabloLassala opened #125 "Add-on badges don't work"
Here are the badges on VSCodium
![image](https://user-images.githubusercontent.com/13321697/56111655-29bf1100-5f2f-11e9-8605-cdf206c05053.png)

While here are the same badges on VSCode
![image](https://user-images.githubusercontent.com/13321697/56111643-190e9b00-5f2f-11e9-82ec-107f4a063c78.png)

(I call it badges because the VSCode site uses that name)
It's just a detail, but I found nothing after

[2019-04-15 09:24] ealap commented on #115
It's basically the same steps with VS Code, I just run the latest User setup installer on top of an existing older version.

[2019-04-15 20:06] stripedpajamas commented on #115
Ok. Thank you for your input on this. I will try to reproduce it myself and troubleshoot this.

[2019-04-16 00:48] stripedpajamas commented on #115
Alright-- I believe I've gotten to the root of the issue. At build time, behind the scenes, Microsoft updates the app ID values in the `product.json` file so that each installer (System 32 and 64, User 32 and 64) have different app IDs. I think it's in violation of Microsoft's license for me to reproduce a part of their proprietary `product.json` here to show you.

The ones that are in the `vscode

[2019-04-16 03:11] stripedpajamas commented on #115
(anyone can do this if they get to it before I do; in `build.sh` we modify `product.json` and we want to modify it further by altering the `win32x64UserAppId` to a random but consistent GUID)

[2019-04-16 16:57] #115 closed

[2019-04-17 08:40] AnatoleLucet opened #128 "Issue with liveshare extension."
**Describe the bug**
So when i try to join a live share i simply get this error :
[code]

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [x] I checked [the Docs page](https://github.com/VSCodium/vscodium/blob/master/

[2019-04-17 10:17] ddzy opened #129 "[Question] About DirectWrite"
## Current Feature
Guys, VSCodium's font get blurry, how to disabled `DirectWrite`?

## Expected Feature
![1](https://user-images.githubusercontent.com/33921398/56280548-02d62a00-613d-11e9-9086-045f5ab87674.png)

[2019-04-17 12:23] edouard-lopez commented on #109
Pinning this issue on top of the issues list would make it more visible

[2019-04-17 15:39] mcarpenterjr commented on #106
Some light research turns up a number of free tools to convert exe's to msi's...

[2019-04-17 15:55] hypercube33 commented on #106
Converting exe to msi is generally frowned upon vs. making a wix script and building a properly functioning msi installer.

As for the reason suggesting it yes it's for Enterprise deployment and it's the default package type for windows

[2019-04-17 15:57] stripedpajamas commented on #106
PRs welcome! I don't know much of anything about creating a properly function MSI installer and since MS is not providing this already for Visual Studio Code it isn't at the top of the priority list. That being said, I'd be happy to merge in any contribution towards this end 👍

[2019-04-17 16:09] stripedpajamas commented on #128
Hi @AnatoleLucet -- thank you for this report 👍

I tried out LiveShare just now and got the error you experienced as well. But when I added `"ms-vsliveshare.vsliveshare"` to the `"extensionAllowedProposedApi"` section of the `product.json` file, LiveShare worked properly.

Can you comment the path to your `product.json` file as well as the contents of it? If we find that we can get it working by m

[2019-04-17 16:30] stripedpajamas commented on #129
Hi @ddzy 👋

Can you provide some more info as to what this feature would look like? Is this something that VSCode supports that VSCodium doesn't support?

I found this open issue about blurry text (https://github.com/Microsoft/vscode/issues/1896) with some workarounds for different operating systems; I'm not sure if that is helpful or not.

[2019-04-17 23:58] #67 closed

[2019-04-18 07:28] camlafit opened #131 "Automatic import vscode configuration / extensions"
**Provide an option to import original vscode configuration**

Hello,

I've tried to migrate from orginal vscode  to vscodium but I need to reinstall all extensions and redo configuration.

Could be nice to have on first installation to copy previous environnement if existing.
In debian use case configuration could be at least :
* cp -bar /home/[user]/.config/Code /home/[user]/.config/VSCodium
* c

[2019-04-18 09:40] AnatoleLucet commented on #128
Hi @stripedpajamas where can i find my 'product.json' ? Or maybe i need to create it ?

[2019-04-18 10:00] AnatoleLucet commented on #128
Ok i found it, it was at this path : `/usr/share/vscodium/resources/app/product.json`
I've added `"ms-vsliveshare.vsliveshare"` in the `"extensionAllowedProposedApi"` array and it works fine !
Thanks you a lot @stripedpajamas

[2019-04-18 10:00] #128 closed

[2019-04-18 14:04] Morganamilo opened #132 "Bad install instructions for AUR"
The install instructions use an AUR helper, which are unsupported by arch and the AUR. What's worse though is the command given will cause partial upgrades.

See also:

https://wiki.archlinux.org/index.php/System_maintenance#Partial_upgrades_are_unsupported
https://github.com/eosrei/twemoji-color-font/issues/59
https://github.com/NASA-SW-VnV/ikos/pull/15

[2019-04-18 14:07] stripedpajamas commented on #132
Yikes! I don't know much about Arch Linux. Should those instructions be removed completely or should they be modified in some way?

[2019-04-18 14:12] Morganamilo commented on #132
You can just say it's available in the AUR and link to it like so https://github.com/eosrei/twemoji-color-font/pull/63/files. Arch users shouldn't really need instructions on how to install stuff on arch.

[2019-04-18 14:16] stripedpajamas commented on #132
Awesome, will do! Thank you @Morganamilo 🙏

[2019-04-18 15:53] #132 closed

[2019-04-18 16:02] stripedpajamas commented on #131
Hi @camlafit, thanks for logging this issue.

VSCodium is just a manual build of the `vscode` repo. Since Visual Studio Code doesn't have any automatic searching/copying of existing extensions or configuration on first install/run, VSCodium won't either. Users migrating away from Visual Studio Code can either follow the manual instructions or use an extension like [`code-settings-sync`](https://gi

[2019-04-18 16:57] stripedpajamas commented on #95
@crazyBaboon do you still need help with this or does @JL2210's suggestion resolve your issue?

[2019-04-18 16:58] stripedpajamas commented on #88
Any update @KNobles?

[2019-04-18 21:44] batjko commented on #41
Also, not to be pedantic, but Windows users would surely also appreciate the ability, as they have had it for Standard vsc.

[2019-04-18 22:14] stripedpajamas commented on #41
Absolutely, @batjko. This is definitely something that should be near the top of the priority list as it is a big shortcoming of VSCodium as compared to VSC.

[2019-04-19 10:30] camlafit commented on #131
Hello

Thanks for you're reply :)
In this specific case, move locally vscode to vscodium has no sense to use an external module to share data. And could have a problem about privacy usage (it's an another problem)

Looks normal that feature is not implemented in vscode as it's only related about migration process to vscodium.

Finally looks have a sense to update Wiki to explain migrate process, t

[2019-04-19 13:30] #101 closed

[2019-04-19 15:16] hypercube33 commented on #106
See https://github.com/Microsoft/vscode/pull/38008

[2019-04-19 18:04] probonopd commented on #101
When will it show up on https://github.com/VSCodium/vscodium/releases?

[2019-04-19 18:27] stripedpajamas commented on #101
@probonopd on Microsoft's next release, so probably the beginning of May. The AppImage build process runs at the end of the Linux build script which won't run as the latest release already contains the Linux artifacts.

[2019-04-20 04:36] t-0-m-1-3 opened #134 "Flutter Plugin not detecting Android Studio"
**Describe the bug**
A clear and concise description of what the bug is.
The terminal in VSCodium is displaying that it cannot find my android studio plugins however, my terminal can.
##### VSCodium *OUTPUT* Panel after running `Fluter Doctor` from command palette
[code]

**Please confirm that this problem is VSCodium-specific**
- [ x] This bug doesn't happen if I use Microsoft's Visual Studio Cod

[2019-04-22 00:16] ealap commented on #125
I have the same issue. I think this has something to do VSCode's restriction on viewing SVG in markdown files.

[2019-04-22 22:08] #95 closed

[2019-04-23 11:35] jakobsudau commented on #41
Hello!
As a new VSCodium user (awesome project) just my two cents, this functionality is definitively needed! Hope you guys can figure it out :)

[2019-04-23 17:42] timothykim commented on #110
Thank you for the update. The wording hasn't updated on the website though: https://vscodium.com/ (as of this posting of this comment)

[2019-04-24 13:09] evitalis commented on #131
I have some mixed feelings on this. As noted by @stripedpajamas this is just a manual build of the upstream project. Adding additional code can potentially introduce complications in this process if the upstream project changes, and creates more manual work during the upgrade process for VSCodium.

It may be better to just clarify the migration process documentation since sometimes its is nice to

[2019-04-24 22:37] harvest316 commented on #4
Sorry, still pretty garish compared to other icons.  Way to complex.  Need something simpler like @jaredreich 's original suggestion, just reimagined so it doesn't break copyright.  https://github.com/VSCodium/vscodium/issues/4#issuecomment-422816484

[2019-04-24 23:07] harvest316 commented on #4
Here's a Windows PowerShell script to set your VSCodium icon to anything you like.  Just stick the icon in the same folder, and call it VSCodium.ico

[code]

[2019-04-25 11:53] mathiasblc commented on #102
Can you be more specific about what needs to be done please? I'm willing to help on this.

[2019-04-25 14:41] AktasC commented on #102
I'm gonna try to build this for Solus by the end of the month, have a lot of work going on currently.
If you have any suggestions feel free to ping me here.

[2019-04-25 21:49] WhatFreshHellIsThis opened #137 "FYI - the website for Codium may turn people off"
This is just my opinion but you might want to reconsider your website:

Just heard about your project and went to the website and was **very** surprised to see the large number of marketing type statements on the page that make it seem like it's a product you created and something more than what it really is which is an alternate build of something the VSCode people invented and built.

You might

[2019-04-26 00:40] stripedpajamas commented on #137
@PalinuroSec -- can we just have the website mirror the README's text? I would definitely not want anyone getting the wrong idea.

[2019-04-26 15:15] PalinuroSec commented on #137
The intention behind this approach was not to get credits over things we didn't made.

VSCode is an awesome software, and vscodium is its free, community driven, binary distribution.

While the github repo should provide technical information about it, the website should present the entire software as a whole, and if we distribute a free version of vscode, we should tell people what vscode/vscodiu

[2019-04-26 15:24] WhatFreshHellIsThis commented on #137
"VSCode is an awesome software, and vscodium is its free, community driven, binary distribution."
Yes, this.  Stop right there, put that single line up with a link to the VSCode features page and call it done.  That's what I would do.  The rest of what you wrote I just don't get at all, I don't think you understand the dynamic here at play; you don't need to educate people about what it does, that

[2019-04-26 23:41] lextm commented on #82
As I am preparing to create a debugger extension for MonoDevelop based on Samsung debugger, I came across this thread (which of course is very valuable).

But I'd like to raise a concern that merely use `pipeTransport` settings as the first post indicated, might not fully resolve the licensing issue.

OmniSharp not only downloads Microsoft's debugger (vsdbg), but also downloads other supporting fi

[2019-04-28 11:31] tweak-wtf opened #138 "[Question] portable mode"
Hey folks,
just wondering if it is possible to launch this in portable mode?
I'm on macOS and followed the instructions on the official microsoft site here:
https://code.visualstudio.com/docs/editor/portable

Also removed VSCodium from possible quarantine attribute but it won't work.

Any suggestions?

[2019-04-28 12:02] stripedpajamas commented on #138
Cool! I'm not sure if anyone has tried this yet, so I'm excited to get it working. When you followed Microsoft's instructions, what did you name the data folder? `code-portable-data`?

[2019-04-28 12:11] tweak-wtf commented on #138
Jup simply called it `code-portable-data`
Tried to install the python extension and cobalt2 color theme. I assumed they would land in that folder.
Will se how it works with vanilla VSCode on macOS since I only used portable mode on linux yet

[2019-04-28 12:18] stripedpajamas commented on #138
Can you try naming the folder either `vscodium-portable-data` or `code-oss-portable-data`?

[2019-04-28 12:20] tweak-wtf commented on #138
haha `vscodium-portable-data` works just fine :)

[2019-04-28 12:22] tweak-wtf commented on #138
`code-oss-portable-data` seems not to work on my machine

So stick with `vscodium-portable-data`. Thanks! :)

[2019-04-28 12:22] stripedpajamas commented on #138
Awesome! I will leave this open so we can update the DOCS.md file with a tip about this.

[2019-04-28 12:22] tweak-wtf commented on #138
perfect... thanks for the wuick help :)

[2019-04-28 16:16] eirnym opened #139 "Distribute versions for macOS as `dmg` files instead of zip"
**Describe the bug**
Distribute versions for macOS as `dmg` files instead of zip. They have self-consistency check on mounting and more user-friendly features.

**Please confirm that this problem is VSCodium-specific**
- [X] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [X] I ch

[2019-04-29 06:27] dzmitry-lahoda commented on #36
https://github.com/VSCodium/vscodium/issues/28

[2019-04-29 06:28] dzmitry-lahoda commented on #36
Renaming to `codium` would make me happy.

When I type `code` and get into editor - cool.
When I type `vscodium` - I am unhappy.

[2019-04-29 06:29] dzmitry-lahoda commented on #28
Renaming to codium would make me happy.

When I type `code` and get into editor - cool.
When I type `vscodium` - I am unhappy.
Making option in installer to name `exe` as `code` would make me very happy.

[2019-04-29 11:13] JL2210 commented on #36
Just make a symlink or an alias.

[2019-04-29 12:52] dzmitry-lahoda commented on #36
[code]

[2019-04-29 14:07] JL2210 commented on #36
No, put alias code=vscodium in your bashrc.

[2019-04-29 15:00] stripedpajamas commented on #36
I think @dzmitry-lahoda is on Windows @JL2210

[2019-04-30 16:49] kirisakow opened #140 "vscodium apparently not supported by yyx990803/launch-editor"
I can't see vscodium editor among the supported editors in Evan You's launch-editor.
Pair issue created: yyx990803/launch-editor#12
 (Thank you for what you do, no matter what)

[2019-04-30 17:19] kirisakow commented on #140
Fork created and proposal submitted:
https://github.com/yyx990803/launch-editor/commit/b9af8c1c41050dd5f23642149262715fee730e10

[2019-04-30 17:28] kirisakow commented on #140
README.md update proposed:
https://github.com/yyx990803/launch-editor/commit/253d3ebef9afb476d702fc2732e37d1535aea942

[2019-04-30 22:34] #138 closed

[2019-04-30 22:36] stripedpajamas commented on #139
Hi @eirnym -- I like `dmg` better than `zip` as well. As Microsoft does not currently offer a `dmg` for Visual Studio Code, we would be starting from scratch. PRs are welcome toward this goal.

[2019-04-30 22:38] stripedpajamas commented on #131
This project needs to stay as simple as possible to enable more transparency. As such, we don't want to introduce additional code such as automatically copying existing configurations.

If the Docs page can be improved, please put a PR in or open a new issue with details on how you think it could be improved so that someone else can jump on it.

[2019-04-30 22:38] #131 closed

[2019-05-01 19:27] dzmitry-lahoda commented on #82
On Windows, trying to build `netcoredbg` requires VS 2017 Community.

I was able to build, but when call `netcoredbg.exe` I get
[code]

I was not able to build in Release(no target?) and `cmake` does not work (by default) with VS Build Tools.

So, debugging C# with `vscodium` on Windows requires Linux level power user skills and installing tracking software like VS 2017.

[2019-05-01 20:51] stripedpajamas commented on #137
I removed a lot of the content that felt iffy to me for now. PRs are welcome in the [website repo](https://github.com/VSCodium/vscodium.github.io) to enumerate features of VSCode in a way that does not make it seem like we are taking credit.

[2019-05-01 20:51] #137 closed

[2019-05-01 21:09] lextm commented on #82
@dzmitry-lahoda You can download binaries directly from GitHub, https://github.com/Samsung/netcoredbg/releases

What you got is expected as the debugger when launched would like to debug something but you don't give it the information. You might try to run `netcoredbg --help` if your goal is to verify whether you build it successfully.

[2019-05-01 21:30] WhatFreshHellIsThis commented on #137
While I do like the one lone line at the top that states what it is, the rest beneath is still extremely problematic in my opinion.

I see no changes that would make me reconsider my original case; the rest of that page still has all the same problems as before.
I'm mystified why anyone feels the need to try to "sell" people on it, it's just a rebuild of someone else's work and on top of that some

[2019-05-01 22:29] stripedpajamas commented on #137
@WhatFreshHellIsThis I have a feeling you are looking at the unupdated version. vscodium.com gets updated on a cron job so it's probably not up to date yet. For my changes, look at vscodium.github.io and let me know if your comments still stand.

[2019-05-02 11:33] NormanDunbar opened #142 "Marketplace for extensions is empty"
When I try to search or install any extensions, then nothing is listed. For example, search in extensions marketplace for "@popular c++" and after a short delay, with the progress indicator working, nothing is listed. "@popular" on it's own simply shows the progress indicator for as long as you leave it.

I don't use VSCode and this is my first experience with VSCodium after a reccommendation in L

[2019-05-02 13:25] mundusnine opened #143 "Add Appimage to release assets"
It seems that AppImage support was recently added; Will there be a Asset added to the releases page of Vscodium that replaces .deb( I imagine so I just want to make sure and I realise that the last release is older than the addition of AppImage support).

I ask because I want to add vscodium to the app/cli installer that I am making( which scrubs the appimage.github.io/feed.json for app images)

[2019-05-02 14:45] WhatFreshHellIsThis commented on #137
Ahh...my mistake, didn't realize the main site wasn't updated yet, much better, I take it all back, good job!

[2019-05-02 15:43] stripedpajamas commented on #143
There will be an an AppImage asset to the releases page on the next release 👍

[2019-05-02 15:43] #143 closed

[2019-05-02 15:46] stripedpajamas commented on #142
Hi @NormanDunbar 👋

Sorry for the rough start to your first time using it VSCode/VSCodium 😢

I haven't used the `@popular` search term before, but if you just search for `c++` do you not get any results?

Additionally, can you provide what version of VSCodium you have installed and how you installed it?

[2019-05-02 21:26] NormanDunbar commented on #142
Good Evening @stripedpajamas,

No apology necessary, these things happen.

The `@popular` is filled in when I select the popular extensions from the more actions menu button. I get no results when searching for anything I'm afraid. Sometimes the progress indicator stops, other times it keeps going until I clear the search, by clicking that button.

I installed from the instructions on the home pag

[2019-05-03 20:03] Golotvinov opened #144 "Shield stats in extensions not showing correctly"
**Describe the bug**
Some image stats / buttons don't show up (load) properly in VSCodium, in the extension page / details to be exact. I believe it's the [Shields.io](https://shields.io/) library.

**Please confirm that this problem is VSCodium-specific**
- [ ✓ ] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium. - YES. It doesn't happen in MS VS Code.

[2019-05-03 20:26] stripedpajamas commented on #144
Thanks for the heads up, @Golotvinov 👍

I believe this is due to some of the telemetry stripping out that we do pre-build, but I haven't confirmed yet.

I also think this is a duplicate of #125 so I will close this out, and you can subscribe to #125 for updates on progress as we sort through it.

[2019-05-03 20:26] #144 closed

[2019-05-03 20:32] Golotvinov commented on #125
Same problem here.

**VSCodium version: 1.33**

![Screenshot_1](https://user-images.githubusercontent.com/39648288/57164060-3aa6c800-6df3-11e9-8907-9fdb13151258.png)

Seems to be the case in every extension that uses the shields.

[2019-05-03 22:14] stripedpajamas commented on #41
Some more notes to keep the ball rolling and so I don't forget:

- the full URL used to check for updates is `${product.updateUrl}/api/update/${platform}/${quality}/${product.commit}`, where `product.<value>` comes from the `product.json` file
- `product.commit` is populated automatically at build time (properly)
- `platform` can be `darwin`, `linux-<arch>`, `win32-[x64]-<archive|user>`
- we aren'

[2019-05-03 23:28] evitalis opened #145 "Enable Experiments is enabled by default"
**Describe the bug**
The setting `Enable Experiments` was enabled on a brand new clean install on Fedora 30.

**Please confirm that this problem is VSCodium-specific**
- [ ] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [x] I checked [the Docs page](https://github.com/VSCodium/v

[2019-05-03 23:33] stripedpajamas commented on #145
Boooooooooooooo 👎

Good catch @evitalis, thank you for reporting this. It should be easy enough to default that to off since we already have the function to do so. I'll take care of it.

[2019-05-03 23:35] evitalis commented on #145
I also found the Natural Language setting is also on by default. Should I add that to a separate bug report?

[2019-05-03 23:39] stripedpajamas commented on #145
Well... currently there is this information in the doc: https://github.com/VSCodium/vscodium/blob/master/DOCS.md#getting-all-the-telemetry-out which acknowledges the NLP stuff and the other settings that call home to MS as something users could consider. Experiments might even fall into this category too as more of a user issue.

Microsoft is very clear in that they've tagged all of these with `us

[2019-05-04 14:05] NormanDunbar commented on #142
Hi @stripedpajamas,

sorry about the delay, the VSCodium version details are:

[code]

I don't know if it makes any difference, but when I first start VSCodium, the extensions icon on the left sidebar is just that "square" thing. As soon as I have a problem with searching, it gets a little blue clock face added - showing a time of 4 o'clock. That stays there until I close down and restart.

Cheers

[2019-05-04 15:05] matheusbn commented on #33
Same problem happening here. New / clean Macbook as well.

[2019-05-04 15:30] matheusbn opened #147 "brew checksum does not match"
This is actually a clone of #33 (with a new/clean macbook too), but I wasn't sure if I should just leave a comment there or open another issue.

When running `brew cask install vscodium`
I get the following output:
[code]

Note: running `brew update` didn't fix it.

[2019-05-04 16:02] stripedpajamas commented on #147
Sorry, I accidentally deleted the 1.33.1 releases last night during testing so they all got rebuilt. I just have to update the brew cask and then this will be fixed.

[2019-05-04 16:33] stripedpajamas commented on #147
https://github.com/Homebrew/homebrew-cask/pull/62827

[2019-05-04 17:05] stripedpajamas commented on #147
Should work now (after a brew update)

[2019-05-04 17:43] matheusbn commented on #147
It worked! Thank you 😁

[2019-05-04 18:34] #147 closed

[2019-05-04 19:20] stripedpajamas commented on #140
Hey @kirisakow I don't think there's anything to do on the VSCodium side, and I see you opened the necessary PR to launch-editor (thanks for doing that 👍 ), so I'm gonna go ahead and close this out. If you think anything needs to happen on this end just let me know and I can reopen.

[2019-05-04 19:20] #140 closed

[2019-05-04 22:50] evitalis commented on #145
For the discussion, would it be worth adding some other known (popular) extensions that send data to Microsoft? I know I use a Python extension I think is developed by them but seems the most maintained and popular. Not sure if it has telemetry in it.

[2019-05-05 14:42] Zate opened #148 "Insiders Build?"
Any chance you'd be willing to do an insiders build also?  Be handy for checking out / using new things without having to wait for it to hit regular vscodium, or having to revert back to vscode insiders to use it.

[2019-05-05 15:01] nalgritz opened #149 "yaourt arch linux checksum does not match"
Hello I am trying to install VSCodium using yaourt but failed.

Here's my command:
[code]

[code]

**Desktop:**
- Arch Linux with deepin desktop env.
- x64
- 1.33.1-2

i saw another thread having the same problem but in brew. guessing it's the same case?

Appreciate of the help!! keep up the great work!

[2019-05-05 16:40] stripedpajamas commented on #149
It's the same case, the checksum needs to be updated in AUR. VSCodium doesn't maintain the Arch Linux version so your best bet is to comment on that package so the maintainer can do what needs to be done.

[2019-05-05 19:16] pavanagrawal123 commented on #148
@stripedpajamas I think this is pretty reasonable to do, nightly builds could be adopted. Only issue is the release page getting cluttered with extra releases.

[2019-05-05 19:27] stripedpajamas commented on #148
I was thinking of making a new repo `vscodium-insiders` with a build script that clones this repo but builds with an env var that drops us into insider conditionals. I think it's very reasonable and we can do it for sure.

[2019-05-06 05:41] #149 closed

[2019-05-06 06:07] nalgritz commented on #149
got it. thanks a lot!

[2019-05-06 10:26] C-Duv commented on #109
A fews weeks ago, the migration procedure was available at https://vscodium.com/#migrate but it's not anymore.
Thanks _cbluth_ for the direct pointer to the documentation.

[2019-05-06 14:50] robertopc opened #150 "Sync Settings extension download error"
When I download settings from sync settings extension.
I had a error in installation of them. Example:

"bin/code" --install-extension ms-vscode.atom-keybindings
Error: Command failed: "bin/code" --install-extension ms-vscode.atom-keybindings
/bin/sh: 1: bin/code: not found

How workaround for this error?

[2019-05-06 16:08] stripedpajamas commented on #142
Hmm, I've never seen it just spin like that. Do you have anything that would block outbound internet connections from applications?

Otherwise, the only next troubleshooting step would be to install VSCode and see if the issue happens there -- if it does we aren't dealing with a VSCodium-specific issue and can get Microsoft's help in troubleshooting.

[2019-05-06 16:14] stripedpajamas commented on #150
Can you see if the documented workaround for that extension works for you? Link here: https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions--marketplace

[2019-05-06 21:07] NormanDunbar commented on #142
Good Evening @stripedpajamas.

I don't have anything that would block my outbound internet connections, no. This problem is on my laptop - there's no firewall getting in the way. I'll try wiping it and reinstalling, then I'll try VSCode and see what happens.

Cheers,
Norm.

[2019-05-07 20:42] stripedpajamas commented on #129
Closing as abandoned

[2019-05-07 20:42] #129 closed

[2019-05-07 21:03] stripedpajamas commented on #145
The question is whether or not VSCodium should disable all settings that "use online services" by default. These are:

- Workbench: Enable Experiments
- Workbench > Settings: Enable Natural Language Search
- Update: Enable Windows Background Updates (this will probably need to be turned on when we get auto update support working)
- Update: Show Release Notes
- Extensions: Auto Check Updates
- Exte

[2019-05-07 21:24] korlando7 commented on #145
Why not just disable all of them?

[2019-05-07 22:11] NormanDunbar commented on #142
Evening @pavanagrawal123,

Yes, I'm sure. I installed from the instructions on the home page at https://vscodium.com/#install following the Debian instructions. Linux Mint is Debian based via Ubuntu.

Cheers,
Norm.

[2019-05-08 09:15] lapo-luchini opened #151 "[RFE] FreeBSD support"
Since now FreeBSD has a [working Electron port](https://github.com/tagattie/FreeBSD-Electron) (even if not yet officially into FreeBSD repositories) I'd like to try and use an updated VSCodium there.
(right now I'm using the «all-in-one compile» [VSCode 1.26.0 by prash](https://github.com/prash-wghats/Electron-VSCode-Atom-For-FreeBSD/releases/tag/vscode_v1.26.0), but using 1.33.1 would of course b

[2019-05-09 07:33] NormanDunbar commented on #142
Morning all.

Good news, sort of.

I had an update of VSCodium this morning, the version number stayed at 1.33.1 though. That didn't sort my marketplace problem.

I wiped and reinstalled - still the same.

I then wiped and installed VSCode following this page's instructions:

https://computingforgeeks.com/install-visual-studio-code-on-ubuntu-18-04-linux-mint-19/

And that installed this version:

[2019-05-09 07:53] NormanDunbar commented on #142
@stripedpajamas - We have a solution!

This is weird. After installing VSCode, I noticed my desktop was running a couple of instances of "conky" and when I checked there were actually 4 instances running. When I killed one of them, Marketplace appeared in VSCode instantly.

I wiped VSCode and re-installed VSCodium again. And with one instance of Conky running, I can see and install extensions from

[2019-05-09 07:53] #142 closed

[2019-05-09 08:06] xpol opened #152 "MP4 support in VSCodium webview?"
Is it possible to configure VSCodium with full audio/video playback support in its webview?

I'm utilize VSCodium as a multimedia content authoring tool using markdown files.
As I know, The official vscode can't playback any video/audio in its webview.

I found VSCodium can playback my mp3 files.

But for the video, It can playback mp4 format.

Insert follow code into a markdown file. It the built

[2019-05-10 22:03] stripedpajamas commented on #142
Thanks so much for sharing the solution @NormanDunbar !! I'm glad it's all sorted now.

[2019-05-13 10:38] Scartiloffista opened #153 "No shortcuts reference"
**Describe the bug**
command 'workbench.action.keybindingsReference' not found - or, no keyboard shortcut pdf/documentation.

- [+] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

- [+] I checked [the Docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md) and my issue is not mentioned there.

**To Reproduce**
Steps to reproduce the behav

[2019-05-13 16:11] stripedpajamas commented on #153
Hi @Scartiloffista 👋 Good find!!

Looks to me like we were missing some fields in the product.json that link to those keymaps. I've opened #155 to resolve this.

Thanks for helping us find stuff like this!

[2019-05-13 16:31] stripedpajamas commented on #152
@xpol -- VSCodium is a build of `vscode`. As such, we do not implement any features or fix any bugs in `vscode` itself, we only run the already written build scripts. MS has [no plans to make this work](https://github.com/microsoft/vscode/issues/54097), but if they ever do, it will then work in VSCodium.

[2019-05-13 16:31] #152 closed

[2019-05-13 22:08] #153 closed

[2019-05-13 22:30] stripedpajamas commented on #151
Hi @lapo-luchini 👋That's exciting news!! I know people have been wanting `vscode` FreeBSD support for years now.

If it involves messing with the `vscode` sources much to get it working, it is probably out of scope of this project. If it only requires some cleverness with the build process itself, it is probably in the scope of this project. That being said, I see two paths forward:

- you get a b

[2019-05-13 22:34] stripedpajamas commented on #134
Hi @t-0-m-1-3 -- I'm so sorry this issue has just been sitting here for almost a month with no activity 😢 I somehow did not see it until now.

This sounds like a weird one. I will try to reproduce the issue on my end to see if I can get to the bottom of it.

We aren't messing with anything terminal-related during the build process, so I'm surprised this is working in Visual Studio Code but not VSC

[2019-05-14 02:04] xpol commented on #152
Thanks for replay.

In case anyone wants MP4 and other video audio support for VSCode/VScodium:

I have solved this by replace VSCode/VScodium packed libffmpeg with libffmpeg form https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases .

[2019-05-14 02:52] stripedpajamas commented on #152
Awesome!! I would recommend you also put this workaround in the vscode issue to help out others! 🙏

[2019-05-14 03:37] xpol commented on #152
Those vscode issues are closed can't add any comments.

[2019-05-14 12:04] lsmoura commented on #150
No workaround needed for me.

It works out of the box on the latest release, and when building vscodium myself from vscode's master branch. (I'm on the latest MacOS)

[2019-05-14 12:05] lsmoura commented on #148
@stripedpajamas Do you know where I can find these "insider conditionals"?

[2019-05-14 13:00] Aviortheking opened #156 "Replace default icon with vscodium one"
![image](https://user-images.githubusercontent.com/15822031/57699790-d092ec00-7658-11e9-8b43-74a69ef702ac.png)
Icon on the top left and in the middle of the screen are the base one I think

it could be better to change them with VSCodium logo

[2019-05-14 13:06] stripedpajamas commented on #150
The workaround is only needed on Linux I believe

[2019-05-14 13:08] stripedpajamas commented on #148
We haven't written the conditionals yet. I think we will need to wrap the current logic of checking out the latest tag.

[2019-05-14 14:25] lsmoura commented on #156
Duplicate of #104

[2019-05-14 14:27] Aviortheking commented on #156
not exactly one for the icon in the center of the screen

[2019-05-14 14:36] lsmoura commented on #156
@Aviortheking Oh! I see...

The middle icon you're talking about is located on `<vscode_root>/src/vs/workbench/browser/parts/editor/media/letterpress-dark.svg`. There's also other versions on the same folder.

We'd need to change those to the vscodium icon. Maybe @stripedpajamas has a SVG version of the icon that he could share so someone can create the replacements for this view?

[2019-05-14 14:58] stripedpajamas commented on #156
All the icon files are linked in this comment https://github.com/VSCodium/vscodium/issues/4#issuecomment-427070331

[2019-05-14 15:53] lsmoura commented on #148
@stripedpajamas Can we use the green icon [here](https://github.com/VSCodium/vscodium/issues/4#issuecomment-426642816) for the insiders version?

[2019-05-14 17:41] stripedpajamas commented on #148
Sounds good to me @lsmoura

[2019-05-14 17:43] #88 closed

[2019-05-14 21:01] Thilas opened #157 "Missing 32-bit package for 1.33.1 release"
Hi,

It seems that [1.33.1 release](https://github.com/VSCodium/vscodium/releases/tag/1.33.1) no longer provides the system-wide Windows 32-bits installer (only the user 32-bits one as well as both 64-bits ones).

I know for sure that until yesterday this installer was listed. Do you know what happened?

Thanks

[2019-05-14 21:32] stripedpajamas commented on #157
That is very weird. Two PRs were merged in yesterday, but the builds shouldn't (don't?) have the ability to remove artifacts from the latest release/tag. The builds themselves are supposed to be no op if the artifacts already exist. Something must be misconfigured in our Azure pipelines. I will look into it, but I may need to delete the Windows 32-bit artifacts and re-queue that build to repopulat

[2019-05-14 21:50] stripedpajamas commented on #157
It appears to be a sad domino effect of problems. The below is scraped from the [build logs](https://dev.azure.com/vscodium/VSCodium/_build?definitionId=1) and the [release logs](https://dev.azure.com/vscodium/VSCodium/_release?definitionId=1) although I don't know if those are accessible to the public (a reason to move off of Azure).

- when the build checked to see if the windows 32-bit artifact

[2019-05-14 22:28] stripedpajamas commented on #157
Should be good now

[2019-05-14 22:28] #157 closed

[2019-05-15 06:06] Thilas commented on #157
Confirmed. Thanks!

[2019-05-15 13:00] bittner commented on #102
There was a `vscodium` in the "edge" channel for snaps (i.e. automatically built off source). What is the status on this?

Currently, what you get when trying to install vscodium is:
[code]

[2019-05-16 07:30] camlafit opened #159 "Module compatiblily : tomsaunders.vscode-workspace-explorer"
**Describe the bug**
This module can't reload vscodium when a workspace is selected.

Display information is ok, all workspsace are displayed in sidebard. But when a workspace is selected, should reload/update workspace context.
Works withs code but not with vscodium

**Please confirm that this problem is VSCodium-specific**
- [ x ] This bug doesn't happen if I use Microsoft's Visual Studio Code.

[2019-05-16 13:26] lsmoura commented on #159
The problem with this extension is the way it tries to open `vscode`. According to [its own source code](https://gitlab.com/jfwy2bhilv/9vsgwopwel/vscode-workspace-explorer/blob/master/extension.js#L34)

[code]

I'm pretty sure it's trying to invoke `vscode` instead of `vscodium`, which is triggering the error. Even tough it "does work with vscode and not with vscodium", I'm thinking it will be tri

[2019-05-16 13:37] stripedpajamas commented on #159
We've seen this kind of hard coding of the app in extensions before -- usually a small PR to the extension repo with another conditional is well received 😊

(Thanks for digging in @lsmoura)

[2019-05-16 21:13] joseluisq opened #160 "Changelog support"
Please log your changes somewhere in order to follow the project progress for every release.
For example, a [changelog](https://keepachangelog.com/en/1.0.0/) would be a good option or Github releases too.

[2019-05-16 23:41] stripedpajamas commented on #159
The change is very small, and I've made it in a fork of the project (https://gitlab.com/stripedpajamas/vscode-workspace-explorer/commit/88b14503ee1b8c2516a7341e95d682db77af0cfd), but I can't figure out how to open a merge request to the parent repository the way they have it set up.

If you go [here](https://gitlab.com/groups/jfwy2bhilv/9vsgwopwel/-/merge_requests), you can choose to open a merge

[2019-05-17 00:41] xxyzz opened #161 "Notarization is required on macOS 10.14.5"
**Describe the bug**
All software must be notarized in order to run on macOS 10.14.5 according to [this](https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution?language=objc) document. The latest release(1.34.0) seems didn't get notarized.

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio

[2019-05-17 03:51] stripedpajamas commented on #161
Yikes! Thanks for bringing this to my attention! 🙏

Signing the Mac OS release was just implemented in the latest version, but no notarizing is being done right now. I will look into it.

[2019-05-17 06:37] optikfluffel commented on #161
It seems, for now, one can context-click the App and then hit "Open" while pressing `alt` on the keyboard. After doing this once I can now open the app normally.

[2019-05-17 06:45] stripedpajamas commented on #161
I spent a little time this evening working on the signing + notarization, but I don't have Mojave to test it. Can someone with Mojave see if this version (an older version, 1.33.0) opens up, can edit files, and can install extensions? https://github.com/stripedpajamas/vscodium/releases/download/1.33.0/VSCodium-notarized.zip

If not, we might need to add some entitlements to the signing process.

[2019-05-17 06:48] stripedpajamas commented on #161
Oh I forgot to staple the notarization result to the app. It should still pass tests, but I will staple and reupload tomorrow.

[2019-05-17 07:18] optikfluffel commented on #161
I tried and it doesn't seem to fully work yet.

<img width="532" alt="Screenshot 2019-05-17 at 09 13 09" src="https://user-images.githubusercontent.com/379915/57909915-4929c080-7884-11e9-97c6-8575962204f6.png">

After clicking "Open" the app doesn't start.

Console output:

[code]

[2019-05-17 12:03] camlafit commented on #159
Hello

Thank a lot PR doesn't look enable in this repository.
I've followed old way and open an issue
https://gitlab.com/jfwy2bhilv/9vsgwopwel/vscode-workspace-explorer/issues/3

Thanks a lot

[2019-05-17 15:28] stripedpajamas commented on #161
Ok that's a start -- the app is showing as notarized but doesn't work yet 😄

I will try to figure out which entitlements to add and reupload.

[2019-05-17 15:53] stripedpajamas commented on #161
Just confirming what was stated by the OP -- Visual Studio Code does not have this problem, right?

[2019-05-17 16:11] stripedpajamas commented on #159
Awesome 👍 I will close out this issue as the responsibility is on the extension maintainer at this point.

[2019-05-17 16:11] #159 closed

[2019-05-17 16:17] #139 closed

[2019-05-17 16:31] stripedpajamas commented on #41
Ok I made some progress on this over the past couple of days. Here is an update:

- created the [VSCodium/update-api](https://github.com/VSCodium/update-api) repo and the [VSCodium/versions](https://github.com/VSCodium/versions) repo
- built out a lambda in update-api that responds similarly to update.code.visualstudio.com and set it up with [Now](https://zeit.co/now) to deploy to vscodium.now.sh

[2019-05-17 18:04] stripedpajamas commented on #41
I was successfully auto-updated on my Mac using the new service 🎉

Testing steps:
- downloaded an old version (1.33.0) of VSCodium
- edited `product.json` to include `quality: stable`, `updateUrl: vscodium.now.sh`, and `releaseNotesUrl: https://go.microsoft.com/fwlink/?LinkID=533483#vscode` (so that updates are not silent)
- signed the binary (since signing had not been implemented by 1.33.0)
- op

[2019-05-17 18:06] stripedpajamas commented on #160
Sounds like a good idea 👍  I will add a description to the Github release with VSCodium-specific changes that occurred since the last release.

[2019-05-17 18:06] #160 closed

[2019-05-17 19:36] joseluisq commented on #160
:+1:

[2019-05-18 00:29] xxyzz commented on #161
Visual Studio Code works well.

[2019-05-18 15:30] robertopc commented on #150
This workaround worked for me.
I use Linux.
Thanks

[2019-05-18 15:30] #150 closed

[2019-05-20 00:33] evitalis commented on #145
@korlando7 Disabling everything may break some functionality so I think the team is trying to be cautious about that. Additionally some users may want some of the settings on, and while I prefer things to be opt-in not out, the world prefers the opposite.

[2019-05-20 02:02] RandyStevens commented on #134
Do you have the flutter path in your vscodium's settings.json?

It would look something like this:
![Screen Shot 2019-05-19 at 7 00 14 PM](https://user-images.githubusercontent.com/25543498/57992336-60c19e80-7a68-11e9-8c62-631754c9f494.png)

 The flutter plug-in doesn't seem to actually use the flutter from your path it actually needs to be explicitly pointed to in the IDE.

[2019-05-20 04:51] camlafit commented on #159
Hello

It's closed \o/ Thank a lot

https://gitlab.com/jfwy2bhilv/9vsgwopwel/vscode-workspace-explorer/merge_requests/1

[2019-05-20 12:31] fuzunspm opened #165 "MacPorts"
This awesome implementation needs MacPorts Port.

[2019-05-20 21:48] stripedpajamas commented on #41
Good news -- I updated the version updater to support Windows and then tested auto updating on a Windows machine (x64, user install) -- it worked 🎉

Next step according to [the project](https://github.com/VSCodium/vscodium/projects/1) is to add two fields to the product.json file and then call it a day (wait for the next MS release). Actually will have to wait for two more MS releases -- the first

[2019-05-21 08:40] DavidOliver commented on #145
I would have thought that if someone has bothered to use an alternative to Microsoft's binaries they would be part of the prefer-opt-in camp.

[2019-05-21 16:18] #41 closed

[2019-05-21 16:38] stripedpajamas commented on #161
@xxyzz can you confirm what version of VSCodium this is? It looks like you installed it from Brew, I'm wondering if you got 1.34.0 or 1.33.1

[2019-05-21 20:22] lsmoura opened #167 "Can't edit settings.json"
**Describe the bug**
When on settings page, some settings expose a button that reads "Edit in settings.json". This button is not working on VSCodium

**Please confirm that this problem is VSCodium-specific**
- [X] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [X] I checked [the

[2019-05-21 20:45] stripedpajamas commented on #167
Hmmm... I'm not able to reproduce this behavior. When I click "Edit in settings.json" it properly opens the file for editing. I also tried deleting my current settings.json file and it properly created a fresh one when I clicked the edit link.

Does the `{}` button work when on the Settings page?
![image](https://user-images.githubusercontent.com/2707340/58129468-a8fad100-7bce-11e9-939f-c8a6637ae2

[2019-05-21 20:48] lsmoura commented on #167
Hey, @stripedpajamas !

When clicking on the `{}`, I get an error notification:

<img width="463" alt="Screen Shot 2019-05-21 at 4 48 12 PM" src="https://user-images.githubusercontent.com/453756/58129684-4a425100-7be8-11e9-9a6c-425e4514c8fe.png">

[2019-05-21 20:51] lsmoura commented on #167
It works on 1.34.0.

[2019-05-21 20:51] #167 closed

[2019-05-21 20:52] lsmoura commented on #167
Thanks for looking into it, @stripedpajamas

[2019-05-22 00:42] xxyzz commented on #161
It's 1.34.0. After updated from brew, I got the can't be opened alert.

[2019-05-22 03:05] JayAndCatchFire opened #168 "Reproducible build instructions"
As mentioned in the comments from #14, this repository is mostly just build scripts to build vscodium from the vscode repository.  However, that issue's comment goes on to recommend reading the official vscode build instructions.

I'd like to know the build steps that are taken that result in the builds that are posted in the project's [releases page](https://github.com/VSCodium/vscodium/releases)

[2019-05-22 03:08] stripedpajamas commented on #168
Is something more than reading the .travis.yml required?

[2019-05-22 04:00] JayAndCatchFire commented on #168
I wouldn't even have thought of looking at that file.  Perhaps this should be added to the docs.

[2019-05-22 09:34] FlorianFranconi commented on #161
Same error here on the latest version 1.34.0. I'm on Mojave and I'm installing via Homebrew.

[2019-05-22 15:24] cwfoo opened #169 "Missing sha256 files for AppImage releases"
On the [releases](https://github.com/VSCodium/vscodium/releases) page, sha256 files for AppImage files are missing. For example, `VSCodium-1.34.0-1558029460.glibc2.17-x86_64.AppImage` doesn't have a corresponding `*.sha256` file.

[2019-05-22 15:37] stripedpajamas commented on #169
Good catch! Thanks @cwfoo 🙏 It looks like the AppImage file needs to be referenced in [the sum script](https://github.com/VSCodium/vscodium/blob/master/sum.sh)

[2019-05-22 16:10] stripedpajamas commented on #168
That makes sense -- I've opened a PR to add some more info around the build process #170

[2019-05-22 23:05] #168 closed

[2019-05-23 04:24] t-0-m-1-3 commented on #134
Worked like a charm!
Thanks, sorry for the delay and closing

[2019-05-23 04:24] #134 closed

[2019-05-23 20:13] stripedpajamas commented on #125
I found the problem -- MS only renders badges from "allowed" domains. The allowed domains list is specified in the product.json file, but we are not currently populating that field. When I add the below to my local product.json file, the badges render properly. We will need to update `build.sh` to add this field to product.json pre-build.

[code]

[2019-05-23 23:11] stripedpajamas commented on #161
This might be something we can't fix at this time. Here's what I've found in researching this (correct me if any of this is off base):

- Notarization requires enabling the "hardened runtime" during code signing
  - Hardened runtime locks down the app from accessing resources unless they are explicitly granted via [entitlements](https://developer.apple.com/documentation/security/hardened_runtime_e

[2019-05-23 23:11] #161 closed

[2019-05-23 23:24] stripedpajamas commented on #145
Thanks for the feedback, everyone. For now, VSCodium is going to remain true to what is said in the readme: "telemetry is disabled". The other options within VSCodium that use online services can be disabled as per the preference of the user.

The [docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#getting-all-the-telemetry-out) makes it clear that there are options that connect t

[2019-05-23 23:24] #145 closed

[2019-05-24 00:12] stripedpajamas commented on #104
I've tracked down the places we missed when replacing the default icons -- there are 3 svg files pulled in by CSS in the app:
[code]

I'll open a PR to swap those out with the VSCodium icon.

[2019-05-24 16:44] Bkucera commented on #101
@probonopd is this currently possible?

[2019-05-24 18:07] #125 closed

[2019-05-24 18:07] #169 closed

[2019-05-24 18:08] #104 closed

[2019-05-24 19:23] probonopd commented on #101
It is currently not enabled for this AppImage, one would need to embed update information and publish a zsync file.

[2019-05-24 20:16] Bkucera commented on #101
@probonopd thanks. Also, is there a way to use the cli via AppImage? https://code.visualstudio.com/docs/editor/command-line

[2019-05-24 20:17] probonopd commented on #101
Sure, why not?

[2019-05-25 23:11] Makazzz opened #174 "Sign Windows Binaries (False positive Malware)"
Each time I open VSCodium ia32 in portable mode on a Windows 10 x64 with Bitdefender; It's saying Atc4.detection or Malware detected and block it.

-[✓] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

-[✓] I checked [the Docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md) and my issue is not mentioned there.

To Reproduce
Steps to rep

[2019-05-26 20:14] JL2210 commented on #174
Probably because this tries to upload telemetry to `0.0.0.0` and the Microsoft URLs are allowed in the anti-malware software.

[2019-05-26 20:16] Makazzz commented on #174
But why it is doing that only in the ia32 version? I have no problem with the x64.

[2019-05-26 20:33] JL2210 commented on #174
Microsoft force enables telemetry anyway. I'd blame it on Windows.

[2019-05-26 20:41] stripedpajamas commented on #174
Pretty weird situation @Makazzz -- I will try to reproduce it on my Windows machine and figure out what exactly it is reacting to. Thanks for reporting!!

[2019-05-26 21:47] bittner commented on #4
Just wanted to say a big, massive :bowing_man: **THANK YOU** :100: for the beautiful icon and VSCodium in general. This lightens up my day constantly. You girls and guys are all awesome! :medal_sports:

[2019-05-27 10:09] eaglersdeveloper commented on #102
Who build it?

[2019-05-28 06:59] bittner commented on #28
I agree with @dzmitry-lahoda. It may be just a matter of getting used to it, but ...

What would be the deal if we followed the same idea as the non-free distribution?
`codium` instead of `code` (for the binary's name only) - that's much easier to get used to.

Any thoughts?

P.S.: I don't think suggesting an alias (as mentioned in https://github.com/VSCodium/vscodium/issues/36#issuecomment-487593

[2019-05-28 07:11] bittner commented on #36
Can we reopen this issue? I'd like to fix this problem for everyone.

[2019-05-28 07:24] bittner commented on #36
Personally, I'd like to stick to the pattern that the non-free distribution follows:

* VSCode --> `code`
* VSCodium --> `codium`

That will make it also easier for developers transitioning from VSCode to VSCodium.
Muscle memory is a thing that is hard to overcome.

[2019-05-28 07:46] knopp commented on #174
Is the windows binary codesigned? Distribution windows binaries without (preferably EV certificate) is world of hurt, as everything flaggs it as malware. And even with certificate there are still often heaps of false positives.

[2019-05-28 15:43] stripedpajamas commented on #174
The Windows binary is not being codesigned at this time. I should prioritize that if it would help with malware false positives.

[2019-05-28 23:29] stripedpajamas commented on #36
All yours @bittner 💙

This is a breaking change, so proceed with caution. Making the change should be simple (change product.json pre-build). I suppose we will need a big notice in the changelog of the next release that lets people know that `vscodium` will no longer work (and therefore anyone who has `alias code=vscodium` will break as well). I'm not sure if any extensions are affected. Some exte

[2019-05-28 23:51] stripedpajamas commented on #165
Hi @fuzunspm -- if I understand MacPorts correctly, a port consists of the necessary logic/commands to fetch, extract, patch, configure, build, and output a binary for some open source software. This sounds exactly like what VSCodium currently does -- it fetches `vscode`, patches some default telemetry settings, runs the build tasks outlined by Microsoft, and uploads the binary to GitHub. As such,

[2019-05-28 23:51] #165 closed

[2019-05-29 00:35] stripedpajamas commented on #156
Created these letterpress svgs loosely based off the existing (normal, dark, high contrast)

[letterpress_codium_svgs.zip](https://github.com/VSCodium/vscodium/files/3230240/letterpress_codium_svgs.zip)

Will open a PR to use them

[2019-05-29 06:11] bittner commented on #36
Cool, thank you!

I'm not totally sure, but shouldn't it possible to simply change the value for `applicationName` in [build.sh](https://github.com/VSCodium/vscodium/blob/master/build.sh#L24)? I'll try that in a PR. I hope the build will tell me when things break.

Do we have functional tests? I don't see any. We may want to add a simple one (à la "run `codium --version`") to the `before_deploy:`

[2019-05-29 06:17] stripedpajamas commented on #36
Yes that's where the change should be made -- that's the part that updates the product.json file right before building.

[2019-05-29 15:37] #156 closed

[2019-05-29 20:56] wsalmeida opened #177 "suggestion"
How likely is it to extend this beautiful design to other forms of packaging like appimage, snap, and flatpak?

[2019-05-29 20:58] stripedpajamas commented on #177
AppImage and Flatpak are mentioned in the README. Snap is in development, tracked in another issue 👍

[2019-05-29 22:48] stripedpajamas commented on #177
#102 - Snap issue
AppImage provided in https://github.com/VSCodium/vscodium/releases
Flatpak option: https://github.com/VSCodium/vscodium#flatpak

[2019-05-29 22:48] #177 closed

[2019-05-30 01:46] esclerofilo opened #178 "VSCodium icon name conflicts"
In Linux, the icon name in the vscodium.desktop file is com.visualstudio.code.oss.png, which I believe is the same one that's used when building a freshly cloned vscode from source.
This makes icon themes overwrite vscodium's icon with vscode's one, as they cannot tell the difference between the two.
A simple fix would be to change the icon filename to something like vscodium.png

[2019-05-30 21:57] lapo-luchini commented on #151
Actually… the same @tagattie that ported Electron (now [in the official Ports](https://www.freshports.org/devel/electron4/)) is also working on a not-yet-"clean enough" to be committed, but already working nicely [FreeBSD Port of VSCode](https://github.com/tagattie/FreeBSD-VSCode). =)
AFAICT most of [the needed patches](https://github.com/tagattie/FreeBSD-VSCode/tree/master/editors/vscode/files) s

[2019-05-31 10:57] mijkami opened #180 "code-settings-sync extension cannot sync and install extensions on linux build"
**Describe the bug**
 `code-settings-sync` extension cannot install extensions when using linux build.

**Please confirm that the issue/resolution isn't already documented**
The workaround listed [in the Docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md) doesn't work. Also the specific elements that should be changed in the workaround are commented now in the current version of t

[2019-05-31 15:11] jrappen opened #181 "macOS Mojave blocks app"
<img width="422" alt="image" src="https://user-images.githubusercontent.com/8577450/58715017-4a033c00-83c6-11e9-83f0-b7fcf62b9b62.png">

Running `brew cask install vscodium` results in macOS Mojave blocking the user from opening the app **by clicking the app icon**. Opening the app via the terminal works, however.

 - OS: macOS 10.14.5 (18F203)
 - Architecture: x64
 - Version: 1.34.0

[2019-05-31 15:43] stripedpajamas commented on #181
See #161 for some details. I've updated the README to include instructions for first time opening on Mojave.

[2019-05-31 15:43] #181 closed

[2019-05-31 16:01] #36 closed

[2019-05-31 16:10] stripedpajamas commented on #180
Can you paste the Extensions output when this problem happens?
![image](https://user-images.githubusercontent.com/2707340/58719198-e6f0b580-8383-11e9-88a0-eb15f95bdc25.png)

[2019-05-31 16:15] stripedpajamas commented on #180
Also keep an eye on https://github.com/shanalikhan/code-settings-sync/pull/859 as work is actively being done to make the extension compatible with `Code - OSS` and `VSCodium`.

[2019-05-31 19:11] mijkami commented on #180
I'm not sure to do it well, but when i show the Extensions output and then try to make `code-settings-sync` connect to the remote gist, the Extensions output seems to stay empty.

On the picture here, the "sync : Invalid / Expired Github token" happened at first attempt for some reason. After deleting credentials, generating a new token and saving it, it showed the "Sync  error logged in console"

[2019-05-31 19:46] jrappen commented on #181
@stripedpajamas maybe you could add the instructions as a post-install message for brew cask users?

[2019-05-31 23:20] DanyC97 commented on #148
@stripedpajamas any progress with the insiders build ? asking because i'd love to give https://code.visualstudio.com/blogs/2019/05/02/remote-development a try and see if it improves my productivity

[2019-06-01 03:13] kunaltyagi opened #182 "Better Darwin binaries (App verification fails)"
**Describe the bug**
Installing 1.34 binary brings the prompt which says:
"""
“VSCodium” can’t be opened because Apple cannot check it for malicious software.

This software needs to be updated. Contact the developer for more information.

Homebrew Cask downloaded this file <time> from github.com.
"""

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use

[2019-06-01 03:20] stripedpajamas commented on #182
Hi @kunaltyagi -- this is a known issue (see #181 and #161) with Mojave. Please read the comments in #161 specifically for why we aren't fixing this right now.

The README in this repo has the updated Mojave instructions that need to happen for first run. I'll get the website updated as well.

[2019-06-01 03:20] #182 closed

[2019-06-02 11:27] catastrop opened #183 "provide binary release for arm 64-bit linux"

[2019-06-02 18:57] stripedpajamas commented on #183
ARM support is tracked in an existing issue #6

[2019-06-02 18:57] #183 closed

[2019-06-03 14:28] pavanagrawal123 commented on #148
@DanyC97 Even if insider builds were done, the licensing around all the new remote stuff is very closed off, and not going to be fun getting to work on oss builds.

[2019-06-04 14:37] DanyC97 commented on #148
oh i see @pavanagrawal123 , wasn't aware of that. Thx for taking the time to respond 👍

[2019-06-06 22:00] JayAndCatchFire opened #184 "Release 1.35.0 is missing AppImage"
[The latest release](https://github.com/VSCodium/vscodium/releases/tag/1.35.0), while tagged, is missing binaries.

[2019-06-06 23:03] stripedpajamas commented on #184
Looks like a transient problem during build. I've restarted the builds.

[2019-06-06 23:24] stripedpajamas commented on #184
MS has moved from Node 8 to Node 10. Updating our build scripts b6b51ba5105b046348c2bb50ab2b3256b0fd3712

[2019-06-07 00:12] antoniofagardo commented on #184
It seems like the darwin binaries has still not been generated, is it also part of the pipeline ?

[2019-06-07 00:21] stripedpajamas commented on #184
The Mac install is having a different issue. I'm troubleshooting it -- you can have a look at the build logs here to see: https://travis-ci.com/VSCodium/vscodium/jobs/206168238

[2019-06-07 05:07] tyu1996 commented on #184
The AppImage binary is also missing in v1.35. Is there any issue found during the AppImage building process?

[2019-06-07 06:22] CuriousFu opened #185 "always showing update information on 1.35"
i upgraded it then issue occurs showning on the picture :
![2019-06-07-141806.jpg](https://i.loli.net/2019/06/07/5cfa03ced8b2041484.jpg)

[2019-06-07 07:10] eladcandroid commented on #184
brew cask upgrade vscodium
didn't upgrade to v1.35..

[2019-06-07 13:26] stripedpajamas commented on #185
What OS are you on?

[2019-06-07 13:27] stripedpajamas commented on #184
Brew cask downloads the Mac binary which does not exist yet. We are working on it.

[2019-06-07 13:41] stripedpajamas commented on #184
Mac build has since succeeded, I will update the cask.

AppImage failed for an unknown reason, I will investigate.

[2019-06-07 14:10] antoniofagardo commented on #184
brew cask upgrade vscodium worked !

Thank you for your help

[2019-06-08 01:02] CuriousFu commented on #185
windows x64

[2019-06-08 09:16] carstev opened #186 "Shell command not available"
I installed VS Codium from [this repo](https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo) on Ubuntu 18.04 LTS.

According to [the docs](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#terminal-support), there should be an installable `vscodium` command.

But not for me.

**Please confirm that this problem is VSCodium-specific**
VS Code is installed via Snap, which installs the CLI auto

[2019-06-08 10:38] carstev commented on #186
Well, had a bad day ...

Didn't realize that CLI is installed automatically on Linux. Just created an `alias code='codium'` for that.

Great repo, thank you for that!

[2019-06-08 10:38] #186 closed

[2019-06-08 21:37] PalinuroSec commented on #23
Hello, the new codium 1.35 packages seem to have re-included the microsoft repo

[2019-06-09 23:14] muideenlawal opened #188 "Release 1.35.0: Problem connecting to marketplace"
After upgrading vscodium from v1.33.1 to v1.35.0, I can't connect to the marketplace any longer.

Also, the list of installed extensions has disappeared from the *Extension* tab.
Here is the message I have (see below) on the *Extension* tab;

`We cannot connect to the Extensions Marketplace at this time, please try again later.`

**Note: I am not behind any proxy.**

[2019-06-09 23:18] stripedpajamas commented on #188
What OS are you running VSCodium on?

[2019-06-09 23:19] muideenlawal commented on #188
Running on MacOS.

[2019-06-10 02:51] stripedpajamas commented on #188
I'm also on MacOS 1.35.0 and do not have trouble accessing the marketplace or seeing installed extensions. Can you paste your `product.json` here? It should be located here: `/Applications/VSCodium.app/Contents/Resources/app/product.json`

[2019-06-10 04:08] JayAndCatchFire commented on #184
It looks like the AppImage version is still missing from the binaries for 1.35.0.  This doesn't affect me personally as I needed a deb file for arm64.  Should I close this issue or leave it open for the AppImage version?

[2019-06-10 05:09] muideenlawal commented on #188
Here is the content of my `product.json` file:

`{
  "nameShort": "VSCodium",
  "nameLong": "VSCodium",
  "applicationName": "codium",
  "dataFolderName": ".vscode-oss",
  "win32MutexName": "vscodium",
  "licenseName": "MIT",
  "licenseUrl": "https://github.com/Microsoft/vscode/blob/master/LICENSE.txt",
  "win32DirName": "VSCodium",
  "win32NameVersion": "VSCodium",
  "win32RegValueName": "VSCodiu

[2019-06-10 05:20] muideenlawal commented on #188
Thank you @stripedpajamas.
I managed to solve this problem. Seems I needed to restart my computer after updating and re-open the app.
`Extension` now showing after restarting.

[2019-06-10 06:38] stripedpajamas commented on #188
Awesome!!

[2019-06-10 06:38] #188 closed

[2019-06-10 07:56] ntilotta commented on #184
I'm on Kubuntu 19.04, sudo dpkg -i codium_1.35.0-1560135863_amd64.deb

(Reading database ... 223914 files and directories currently installed.)
Preparing to unpack codium_1.35.0-1560135863_amd64.deb ...
Unpacking codium (1.35.0-1560135863) ...
dpkg: error processing archive codium_1.35.0-1560135863_amd64.deb (--install):
 trying to overwrite '/usr/share/pixmaps/com.visualstudio.code.oss.png', whic

[2019-06-10 15:32] JayAndCatchFire commented on #184
@ntilotta that happened to me as well. This is because the package name changed from `vscodium` to `codium` in this release (#176, #187). The solution is to uninstall the old version before installing the new version.

[2019-06-10 18:41] tpatsiouras commented on #185
Win 10 64bit, also and although I downloaded latest release from here, update says that there's newer version... Downloads the same file...

[2019-06-11 02:27] git10135405 opened #189 "已经安装vscode了 再安装vscodium会冲突吗？"

[2019-06-11 03:09] stripedpajamas commented on #189
Hi @git10135405 👋 VSCodium does not conflict with VSCode, they can be run side-by-side without issue.

[2019-06-11 03:09] #189 closed

[2019-06-11 03:12] git10135405 commented on #189
再请教下 check for updates报 server returned 404
![image](https://user-images.githubusercontent.com/35558611/59241260-8b52e180-8c39-11e9-903f-385342fcdc45.png)

如果我用exe进行安装的 怎么更新呢？

[2019-06-11 03:35] stripedpajamas commented on #185
Ok, so something must have gotten messed up when the sha sums were calculated for the Windows artifacts.

[User x64](https://raw.githubusercontent.com/VSCodium/versions/master/win32/x64/user/latest.json):
[code]
[code]

[Archive x64](https://raw.githubusercontent.com/VSCodium/versions/master/win32/x64/archive/latest.json):
[code]

[code]

Interestingly the 32-bit artifacts have the proper shasums.

[2019-06-11 03:42] stripedpajamas commented on #185
Actually it looks from the build logs that this was a sad race condition. We have it set to `git pull` right before pushing it's updated version JSON at the end of the build process. Somehow another build (Linux, Mac, or Windows 32-bit) pushed its own version JSON at that exact moment and the Windows 64-bit build's push was rejected. I will see if we can add some retry logic into the git push step

[2019-06-11 03:45] stripedpajamas commented on #184
@JayAndCatchFire let's leave this open to track the missing AppImage.

[2019-06-11 05:49] tpatsiouras commented on #185
Downloaded today's build of 1.35 (build time 07:58), updated in folder and started...
Check for update, shows again this version... Just thought to report it back...

[2019-06-11 06:13] starun96 opened #190 "Command not found: codium"
**Describe the bug**
After the update to 1.35 and the new `vscodium-bin` package, I can no longer launch vscodium. Typing `vscodium` or `codium` into my terminal gives me the error `fish: Unknown command vscodium` or `fish: Unknown command codium`.

**Please confirm that this problem is VSCodium-specific**
- [ Yes ] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens i

[2019-06-11 06:27] CuriousFu commented on #185
Ok，i will try it tonight，thank a lot.😊

[2019-06-11 06:38] joseluisq commented on #190
Did you try this one?

<img width="625" alt="Screenshot 2019-06-11 at 08 29 22" src="https://user-images.githubusercontent.com/1700322/59248635-4b80ff80-8c23-11e9-96bc-e7929ee3bd14.png">

[code]
Verify your binary path after that. It was tested in Mac but It should be similar in Linux.

[2019-06-11 09:40] xtimmu opened #191 "What is the domain string for VSCodium default settings on Mac OS?"
I'm inherently trying to use VIM plugin with VSCodium on OS X. It has a repeat key feature that has to be enabled using mac system default settings (man defaults).

https://github.com/VSCodeVim/Vim outlines the procedure as:

`$ defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false         # For VS Code`
`$ defaults write com.microsoft.VSCodeInsiders ApplePressAndHoldEnabled -bo

[2019-06-11 12:50] stripedpajamas commented on #191
Please check out the DOCS page as this is mentioned there: https://github.com/VSCodium/vscodium/blob/master/DOCS.md

[2019-06-11 12:51] #191 closed

[2019-06-11 18:11] stripedpajamas commented on #185
Can you both try updating? I have confirmed that all the hashes are valid.

Also pushed up an integrity checker that will report the validity of the hashes for all the different types of os/archs, to hopefully make debugging this in the future easier (https://github.com/VSCodium/versions/pull/1)

[2019-06-11 18:12] stripedpajamas commented on #190
As @joseluisq has said -- I believe you need to run the "Install 'codium' command in PATH" command inside VSCodium to get it working.

[2019-06-11 21:56] joseluisq commented on #190
I have tested in __Arch Linux__ and it works after the update.

[code]

[2019-06-12 02:27] tbergeron commented on #180
It seems to be only a github token issue. It still works for me on Linux.

Try this https://github.com/shanalikhan/code-settings-sync/issues/408#issuecomment-335014416

[2019-06-12 02:47] starun96 commented on #190
After updating to 1.35.0-2, the `codium` executable is now on my PATH. I can now call it normally. Thank you.

[2019-06-12 02:47] #190 closed

[2019-06-12 05:00] tpatsiouras commented on #185
Hi
It's happening the same... Opened yesterday's build (2019-06011T04:56:38:833Z)
Checked for download... 1 file... Downloaded... Exact same file/version...
Overwrite files... Opened... Checked for download... 1 file...

[2019-06-12 07:15] Thilas opened #192 "VSCodium checksums do not match"
**Describe the bug**
I am maintaining the Chocolatey package for VSCodium and latest release seems to be frequently updated with new installers (i.e. new checksums) since 1.3.5.0.

In the context of a Chocolatey package, this is an issue because the checksum is done once and is not expected to change overtime (see https://github.com/Thilas/chocolatey-packages/issues/15).

**Please confirm that thi

[2019-06-12 08:04] mijkami commented on #180
It seems unrelated as when i go into syncLocalSettings.json through "editing local settings" command, it shows the exact same settings than in VSCode, except it works in VSCode and not VSCodium.

Apparently some fixes are implemented in 3.3.0 of code-settings-sync (previous link updated https://github.com/shanalikhan/code-settings-sync/pull/859), i'll wait for an official release to see if it work

[2019-06-12 09:37] jannik-mohemian opened #193 "[Discussion] Rename VSCodium to Codium"
_I hope this is the right format to do this_

## Rename to `Codium`
Why not remove the `VS` (aka `Visual Studio`) from the name as well.

In essence VSCodium is `binary releases of VS Code without MS branding/telemetry/licensing` _(quote from GitHub repository description)_

In this case we can remove the `VS`, which is a very big MS brand, as well...

**What do you think?**

[2019-06-12 18:34] bittner commented on #36
Everyone looking into upgrading your `vscodium` package, please [read my hints](https://github.com/VSCodium/vscodium/pull/176#issuecomment-501396622) in the PR. :eyes:

Thanks @stripedpajamas and @paulcarroty! :1st_place_medal:  :clinking_glasses: :champagne:

[2019-06-12 20:10] qlan3 opened #196 "Cannot use Remote Development extension pack"
**Describe the bug**
I cannot use Remote Development extension pack.

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only happens in VSCodium.

**Please confirm that the issue/resolution isn't already documented**
- [x] I checked [the Docs page](https://github.com/VSCodium/vscodium/blob/master/DOCS.md) and my issu

[2019-06-12 20:29] CatKasha commented on #192
How about this?
Instead of overwrite the current release on GitHub, make the next release with additional version to the release (1.35.0.1, 1.35.0.2, 1.35.0.3, etc.) if something needs to be fix in the current release

[2019-06-12 21:49] JayAndCatchFire commented on #196
Can you please provide a link to this particular extension that isn't working?

[2019-06-12 21:56] JayAndCatchFire commented on #193
See also #28

[2019-06-12 22:06] stripedpajamas commented on #193
The project is called VSCodium because the originating repo is called `vscode`. With recent updates, the binary itself is called `codium` just as the `vscode` binary is called `code`.

The branding referenced here was the non-freely licensed icons. VSCodium is 99.99% a Microsoft product.

[2019-06-12 22:11] stripedpajamas commented on #196
I expect this is not working for very similar reasons as #128 -- the functionality is still considered a "proposal". As such, MS lists the allowed proposals in the product.json file pre-build. Their current list (1.35.0) is:

[code]

Our current list is:

[code]

We can get Remote Development working by adding these proposals pre-build, as we are adding the liveshare proposal.

[2019-06-12 22:18] stripedpajamas commented on #192
I definitely try to avoid overwriting releases when possible for this very reason. When 1.35.0 built, we did see the version file fail to update, so 1.35.0 was built twice more (as a part of #185). Any build+release takes 20+ minutes and looking at the [build logs](https://dev.azure.com/vscodium/VSCodium/_build?definitionId=1) the last "big" build was Monday 9.39pm (unsure of timezone), which is w

[2019-06-13 01:22] JayAndCatchFire opened #197 "VSCode version 1.35.1 was released"
I feel like garbage opening a ticket like this as I'm sure you're already aware of this, @stripedpajamas.  But just on the off chance that you haven't been alerted, [VSCode 1.35.1](https://github.com/microsoft/vscode/releases/tag/1.35.1) has been released.

I don't know if you, @stripedpajamas, think this would be worth it, but maybe some level of automation could be set up that automatically atte

[2019-06-13 01:27] stripedpajamas commented on #197
The builds run daily and if MS has cut a new release, the builds cut one too. None of it is manual besides the dependent distributors -- brew, chocolatey, aur, etc.

Should see 1.35.1 tomorrow.

[2019-06-13 01:28] #197 closed

[2019-06-13 01:29] stripedpajamas commented on #197
Automated validation of build artifacts would be great, PRs welcome 🤠

[2019-06-13 01:29] JayAndCatchFire commented on #197
Awesome.  I didn't realize is was a daily thing.  Good to know.  From now on, I'll wait up to 48 hours before pestering. ;-)

[2019-06-13 01:30] darkPeace opened #198 "holding 'ctrl'+ left-click did not add multi cursor"
hi,
i had tried to use multiple cursor features like in vscode but failed to do so using ctrl key and mouse click. is there any setting i should change before i can use that feature or that feature is not available yet in vscodium?

tq

os: parrot 4.7
kernel: 5.1.0 x64
vscodium 1.35.0

[2019-06-13 01:30] JayAndCatchFire commented on #197
I wonder how/if MS does that kind of validation.  I mean, I know they have unit tests, but I don't know if there are any tests that actually run against their binaries.

[2019-06-13 01:37] stripedpajamas commented on #197
A good start may even be to just run the binaries with --version to confirm they aren't completely broken. It wouldn't be a big job to implement that.

[2019-06-13 01:38] stripedpajamas commented on #198
That feature is available in VSCodium, I use it daily. Perhaps the default key binding is different? Can you check what the key binding is set to?

[2019-06-13 01:41] JayAndCatchFire commented on #197
I did some spelunking in the VSCode issues and resurfaced with this gem.  Maybe this could be adapted?  https://github.com/Microsoft/vscode/blob/master/test/smoke/README.md

[2019-06-13 01:45] stripedpajamas commented on #198
Actually it doesn't look like it's listed as a "keyboard shortcut" because it involves the mouse. Isn't the default Alt-Click?

[2019-06-13 01:46] darkPeace commented on #198
omg...i'm sorry. you are right. my default setting is alt key. then i just change it to ctrl key in the settings. its working now. thanks!

![Screenshot_20190613_093959](https://user-images.githubusercontent.com/23012721/59397688-1bbb2e80-8dc0-11e9-9325-8f7613a526d9.png)

[2019-06-13 01:48] darkPeace commented on #198
i will close this issue now... thanks @stripedpajamas

[2019-06-13 01:48] #198 closed

[2019-06-13 02:36] qlan3 commented on #196
Thanks!@stripedpajamas
I can use [Remote Development extension pack](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) now. There is still an error. When I try to connect to a server, I get this error: "Failed to connect to the remote extension host server (Error: Connection error: Version mismatch, client refused.)". However, I can use VS code to co

[2019-06-13 02:57] git10135405 commented on #193
检测更新  这个功能不能用对吗？

[2019-06-13 07:02] Thilas commented on #192
I am not sure to understand your question.

Regarding Chocolatey, here is how the auto update process works:

* an automated process checks 4 times a day for new releases
* if a new release is detected, then it downloads the installers (x86 and x64) in order to generate both checksums (it could use the published checksum files instead but it wouldn't change the issue)
* then a new version is publi

[2019-06-13 12:05] drasbeck commented on #36
Thanks @bittner. 💪

Now I'm happily waiting for this change to silently appear via homebrew.

[2019-06-13 13:35] linsui commented on #185
The same on 1.35.1

[2019-06-13 13:39] stripedpajamas commented on #185
Alright -- will have some free time today or tomorrow to spin up a Windows machine and figure out what's going on. Sorry for the annoying experience everyone 😣

[2019-06-13 15:12] paulcarroty commented on #193
The `codium` name is already used by https://www.codium.com.py/en/

[2019-06-13 17:51] tyu1996 commented on #184
Is it related to recent changing name from vscodium to codium? What if rename all the 'vscodium' to 'codium' in VSCodium-AppImage-Recipe.yml?

[2019-06-13 18:20] alexander255 opened #199 "Have the Flatpak “Code - OSS” Flatpak package reuse the “VSCodium” branding?"
I'm not sure if you already considered this, but what is your take on this having the “Code – OSS” flatpak package sharing the branding with this project?

I'm asking because I just opened an issue at their issue tracking regarding this idea and I think a unified branding could help both projects: https://github.com/flathub/com.visualstudio.code.oss/issues/42

Let me know what you think or comment

[2019-06-13 22:44] stripedpajamas commented on #199
If the flatpak project wants to adopt the name or icons of VSCodium, that is fine with me, provided that project is also aligned with the community driven default configuration present in VSCodium.

Currently the assets produced by the flatpak project are not related at all to VSCodium and they are produced in a very different way. As such, I think the branding ought to be very different to avoid

[2019-06-13 23:09] brianclinkenbeard commented on #196
FYI (since inclusion is being discussed and also some vscodium users seem to care about this) the remote development pack is at least currently [not FOSS](https://marketplace.visualstudio.com/items/ms-vscode-remote.vscode-remote-extensionpack/license).

[2019-06-14 03:15] #178 closed

[2019-06-14 03:20] stripedpajamas commented on #184
It is related to the name change, but I'm not sure which places should be changed to `codium`.

@probonopd can you help?

[2019-06-14 05:45] probonopd commented on #184
This line needs to be changed for sure:

https://github.com/VSCodium/vscodium/blob/81ef7c6d8f1e835f8fd3e97447c611555d07b590/VSCodium-AppImage-Recipe.yml#L20

I don't know about these lines, they need to be changed in case the filenames have changed from `vscodium` to `codium`:

https://github.com/VSCodium/vscodium/blob/81ef7c6d8f1e835f8fd3e97447c611555d07b590/VSCodium-AppImage-Recipe.yml#L23-L35

[2019-06-14 07:21] alexhass commented on #106
Just became aware of vscodium. I‘m willingly to update my wix based msi setup to latest version asap if it has a chance to get integrated.

Just one question. Can we have a registry key or place a file somewhere that disables automatic updates pee machine, please? This is an enterprise need... I really need.

Ms project manager refused to use it as he has no idea about enterprise needs and custome

[2019-06-14 08:34] jannik-mohemian commented on #193
Also related #36

[2019-06-14 08:42] jannik-mohemian commented on #193
I understand @stripedpajamas points and so far the logic makes sense. 👌

Also, the [`codium` name might be unusable](https://github.com/VSCodium/vscodium/issues/193#issuecomment-501746000) unfortunately...

However, I noticed a lot of people in the threads are not happy with the name/branding ([1](on Apr 29), [2](https://github.com/VSCodium/vscodium/issues/36#issuecomment-442804629))

[2019-06-15 04:27] stripedpajamas commented on #185
Good news! I have figured out the root cause of this. Or at least close to the root cause.

The version files are correct. The Windows binaries unfortunately have a small bug in them. During build, vscode writes the commit hash of the version it's building into the `product.json` file. This commit hash is considered the 'version' and used when checking for updates. Different commit hash from the u

[2019-06-15 04:38] stripedpajamas commented on #185
More good news -- I've found the root cause.

The `version` (commit hash) is pulled from the environment variable `BUILD_SOURCEVERSION`. If that variable is undefined, it will use git itself to get the commit hash. That env var is not defined in the Linux and Mac builds, so the build process gets the commit hash manually (and correctly).

But in Azure Pipelines, where the Windows build happens, th

[2019-06-16 15:15] #185 closed

[2019-06-17 09:10] git10135405 opened #201 "使用插件SVN问题"
vscodium版本1.35.1
win7旗舰版64位

在使用插件：
名称:SVN
id: johnstoncode.svn-scm
说明: Integrated Subversion source control
版本: 1.54.0
发布者: Chris Johnston
VS Marketplace 链接: https://marketplace.visualstudio.com/items?itemName=johnstoncode.svn-scm
在使用该插件时经常遇到如下图所示情况，vecode暂无此情况发生。就是放着一段时间或锁屏一端时间后看到如下图，update一直加载不出来
![image](https://user-images.githubusercontent.com/35558611/59592229-32e08000-9122-11e9-8dbb-e917ea

[2019-06-17 10:09] jannik-mohemian commented on #193
Also, I just noticed that on macOS VSCode uses simply the name `Code` everywhere. So this actually differs at the moment... 😱
![Screen Shot 2019-06-17 at 12 07 01](https://user-images.githubusercontent.com/22029725/59596850-c604c000-90f8-11e9-95bb-9ce922ec9de5.png)
![Screen Shot 2019-06-17 at 12 07 20](https://user-images.githubusercontent.com/22029725/59596860-c7ce8380-90f8-11e9-991e-ab482d886f8b

[2019-06-17 20:04] stripedpajamas commented on #196
@qlan3 unfortunately the server side code is not open source, so I don't know what conditions cause that error message. I would suspect it is because only Visual Studio Code is supported. Also, as @brianclinkenbeard mentioned, this feature if not freely licensed. This link as additional links to other related licenses to do with the Remote Dev extension, and they all restrict use to a "validly lic

[2019-06-17 20:04] #196 closed

[2019-06-17 20:14] stripedpajamas commented on #201
Can you log an issue with in the extension repo to see if they can troubleshoot? https://github.com/JohnstonCode/svn-scm/issues

The extension might not support VSCodium and might need to be updated as such.

[2019-06-17 20:14] #201 closed

[2019-06-17 20:16] stripedpajamas commented on #192
Will take the build number suggestion, per @CatKasha. Thank you both 🙏

[2019-06-17 20:16] #192 closed

[2019-06-17 20:20] stripedpajamas commented on #106
Hi @alexhass 👋 Thanks for chiming in, as I believe you have the most context/experience with this issue. We would love your help in getting an MSI setup and would gladly include the MSI on the releases page.

Unfortunately, disabling automatic updates with a file or registry key would have to happen at the VSCode level. This repo is just running their existing build scripts and uploading the resul

[2019-06-17 21:11] Thilas commented on #192
Thanks @stripedpajamas!

[2019-06-17 22:56] pshem opened #202 "deb and rpm metadata is incomplete"
**Describe the bug**
`codium`'s apt and rpm packages, as built by the [recommended repository](https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo), are missing some metadata that differentiates `codium` from VS Code, such as the license and the project url.

**Please confirm that this problem is VSCodium-specific**
- [x] This bug doesn't happen if I use Microsoft's Visual Studio Code. It only ha

[2019-06-17 23:24] stripedpajamas commented on #193
You raise a good point there. I think it makes sense that the binaries on every platform be called Codium and the repo continue to be called VSCodium, in line with vscode.

[2019-06-17 23:26] stripedpajamas commented on #180
Closing out this issue for now, as the extension's interaction with VSCodium is not under our control. If the extension developers have questions about integrating, they can raise a new issue.

[2019-06-17 23:26] #180 closed

[2019-06-18 06:51] tyu1996 commented on #184
I did an edit on the recipe file and pull a request. If it works on Travis build, this issue can be marked as solved and closed.

[2019-06-19 03:15] stripedpajamas commented on #151
I am uncertain about the direction of this issue @lapo-luchini -- perhaps when the port is no longer experimental, we can link to it from the README for other FreeBSD users?

[2019-06-19 03:27] stripedpajamas commented on #202
Thanks for reporting this @pshem ! Would definitely like to clean this up. From what I can tell, the source of the information in the packages comes from these files:

- [resources/linux/code.appdata.xml](https://github.com/microsoft/vscode/blob/master/resources/linux/code.appdata.xml)
- [resources/linux/debian/control.template](https://github.com/microsoft/vscode/blob/master/resources/linux/debia

[2019-06-19 13:05] jannik-mohemian commented on #193
@stripedpajamas  I think that would make a lot of people very happy 🤗

[2019-06-19 14:24] snow8gaia commented on #192
maybe too late, but here's some suggestions-

I think **this issue** could be handled in another way.

 The one-to-one correspondence between vscode and vscodium is great, for one; it makes sense **to not** bump version numbers for vscodium; as **its not a fork**.

---

can you discuss using another versioning scheme?
VS-Code-version-date-time. eg:-  `1.35.0-date-time`
VS-Code-version-rebuild1. eg